/old
/target
/eclipse-target
/override.properties
/override_log4j.xml
/deploy.sh
/foo.sh
/bin
/oscar.properties
/myoscar_client_override.xml
/velocity.log
oscar.iml
.idea
/override_config.xml
/oscar_data_dir
src/main/resources/uiResources_*.properties
*.DS_Store
*.swp
