.Head {
    background-color:#BBBBBB;
    padding-top:3px;
    padding-bottom:3px;
    width:940px;
    font-size:12pt;
}

.Head INPUT {
    width: 100px;
}

.Head A {
    font-size:12pt;
}