<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
	default-autowire="no">

	<bean id="phrService" class="org.oscarehr.phr.service.PHRService">
		<property name="phrDocumentDAO">
			<ref bean="phrDocumentDAO" />
		</property>
		<property name="phrActionDAO">
			<ref bean="phrActionDAO" />
		</property>
	</bean>
	<bean id="indivoAPService"
		class="org.oscarehr.phr.indivo.service.accesspolicies.IndivoAPService">
		<property name="phrDocumentDAO">
			<ref bean="phrDocumentDAO" />
		</property>
		<property name="phrActionDAO">
			<ref bean="phrActionDAO" />
		</property>
	</bean>
	<bean id="phrDocumentDAO" class="org.oscarehr.phr.dao.hibernate.PHRDocumentDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="phrActionDAO" class="org.oscarehr.phr.dao.PHRActionDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
</beans>
