<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:int-ftp="http://www.springframework.org/schema/integration/ftp"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/integration/ftp
	http://www.springframework.org/schema/integration/ftp/spring-integration-ftp.xsd"
       default-autowire="no">

<bean id="ftpClientFactoryBORN18M"
	class="org.springframework.integration.ftp.session.DefaultFtpsSessionFactory">
		<property name="host" value="${born18m_ftps_host}"/>
		<property name="port" value="${born18m_ftps_port}"/>
		<property name="username" value="${born18m_ftps_username}"/>
		<property name="password" value="${born18m_ftps_password}"/>
		<property name="clientMode" value="2"/>
		<property name="fileType" value="2"/>
		<property name="bufferSize" value="100000"/>		
 		<property name="protocol" value="TLS"/> 		
 		<property name="trustManager" ref="trustManager"/> 		
 		<property name="sessionCreation" value="true"/> 		
 		<property name="protocols" value="SSLv3,TLSv1"/> 		
 		<property name="implicit" value="false"/>
	</bean>
	
	<bean name="trustManager" class="org.apache.commons.net.util.TrustManagerUtils.TrustManager">
		<constructor-arg value="false"/>
	</bean>

	<!-- === EventManager: Action Listeners specific for the BORN 18Month Enhanced Well Baby Visit service === -->
	<bean id="BORN18MDoneListener" class="org.oscarehr.listeners.BORN18MDoneListener" />
	
</beans>
