<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd" default-autowire="no">

	<!-- ========================= SCHEDULED JOBS ========================= -->
	<bean id="hrmScheduledPullTask" class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<property name="timerTask">
			<bean class="org.oscarehr.hospitalReportManager.SchedulerJob">
			</bean>
		</property>
		<property name="delay" value="1000" />
		<property name="period" value="60000" />		<!--  every 30 mins =1800000 -->
	</bean>
	
		<bean id="schedulerHRM" class="org.springframework.scheduling.timer.TimerFactoryBean">
		<property name="scheduledTimerTasks">
			<list>
				<ref bean="hrmScheduledPullTask" />
			</list>
		</property>
	</bean>
	
</beans>