<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:int-ftp="http://www.springframework.org/schema/integration/ftp"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/integration/ftp
	http://www.springframework.org/schema/integration/ftp/spring-integration-ftp.xsd"
       default-autowire="no">

	
	<bean id="ckdScreenerScheduledTask" class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<property name="timerTask">
			<bean class="org.oscarehr.renal.CkdScreenerSchedulerJob">
			</bean>
		</property>
		<property name="delay" value="60000" />			<!--  1 minute -->
		<property name="period" value="60000" />		<!--  every 2 mins-->
	</bean>
	
		<bean id="schedulerORN" class="org.springframework.scheduling.timer.TimerFactoryBean">
		<property name="scheduledTimerTasks">
			<list>
				<ref bean="ckdScreenerScheduledTask" />
			</list>
		</property>
	</bean>
</beans>
