<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd" default-autowire="no">

    <bean id="propertyConfigurer" class="org.oscarehr.common.OscarPropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:oscar_mcmaster.properties</value>
			</list>
		</property>
	</bean>
	
	<!-- ========================= SCHEDULED JOBS ========================= -->
	<bean id="cbiDataSubmissionJob" class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<property name="timerTask">
			<bean class="oscar.util.CBIFormDataSubmissionJob">
			</bean>
		</property>
		<property name="delay" value="10000" /> <!-- start job after 10 seconds -->
		<property name="period" value="${CBI_JOB_INTERVAL}" />
	</bean>
	
	<bean id="schedulerCBI" class="org.springframework.scheduling.timer.TimerFactoryBean">
		<property name="scheduledTimerTasks">
			<list>
				<ref bean="cbiDataSubmissionJob" />
			</list>
		</property>
	</bean>
	
</beans>