<?xml version="1.0" encoding="UTF-8"?>
<ClinicalDocument xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="urn:hl7-org:v3 Schemas/CDA-PITO-E2E.xsd"
 xmlns="urn:hl7-org:v3"
 xmlns:hl7="urn:hl7-org:v3"
 xmlns:xs="http://www.w3.org/2001/XMLSchema"
 xmlns:e2e="http://standards.pito.bc.ca/E2E-DTC/cda">
<!-- 
********************************************************
CDA Header
********************************************************
-->
	<realmCode code="CA" />
	<typeId root="2.16.840.1.113883.1.3" extension="POCD_HD000040"/>
	<id extension="$patient.demographicNo" root="2.16.840.1.113883.3.933"/>
	<code code="34140-4" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="Referral"/>
	<title>PITO EMR-2-EMR Complete Instance Example</title>
	<effectiveTime value="$dateTool.get('yyyyMMddhhmm')"/>
	<confidentialityCode code="N" codeSystem="2.16.840.1.113883.5.25"/>
	<!-- 
	********************************************************
	Record Target
	********************************************************
	-->
	<recordTarget typeCode="RCT" contextControlCode="OP">
		<patientRole classCode="PAT">
			<id extension="$patient.hin" root="2BFBA1E9-79C2-4bbb-B589-41B949BD6A3B" assigningAuthorityName="BC-PHN"/>
			<patient>
				<name>
					<given>$patient.firstName</given>
					<family>$patient.lastName</family>
				</name>
				<administrativeGenderCode code="$patient.gender" codeSystem="2.16.840.1.113883.5.1" codeSystemName="HL7 - Administrative Gender" displayName="$patient.genderDesc"/>
				<birthTime value="$patient.birthDate"/>
			</patient>
		</patientRole>
	</recordTarget>
	<!-- 
	********************************************************
	Author
	********************************************************
	-->
	<author typeCode="AUT" contextControlCode="OP">
		<time value="$dateTool.get('yyyyMMdd')"/>
		<assignedAuthor>
			<id extension="$authorId" root="$authorIdRoot"/>
		</assignedAuthor>
	</author>
	
	<!-- 
	********************************************************
	Custodian
	******************************************************** -->
	<custodian typeCode="CST">
		<assignedCustodian classCode="ASSIGNED">
			<representedCustodianOrganization classCode="ORG" determinerCode="INSTANCE">
				<id extension="$custodianId" root="$custodianIdRoot"/>
			</representedCustodianOrganization>
		</assignedCustodian>
	</custodian>
<!-- 
********************************************************
e-MS CDA Structured Body
********************************************************
-->
	<component>
		<structuredBody>
<!--
********************************************************
Allergies and Intolerances - (Reaction List)
********************************************************
-->
#if ( $patient.hasAllergies() )
			<component typeCode="COMP" contextConductionInd="true">
				<section classCode="DOCSECT" moodCode="EVN">
					<templateId root="2.16.840.1.113883.3.1818.10.2.4.1"/>
					<code code="48765-2" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="Allergies and Adverse Reactions Doc"/>
					<title>Allergies and Intolerances (Reaction List) [with entries]</title>
					<text>Text text text</text>
#**##foreach ( $allergy in $patient.getAllergies() )
					<entry typeCode="COMP" contextConductionInd="true">
						<templateId root="2.16.840.1.113883.3.1818.10.3.3"/>
						<!--Allergy and Intolerance Observation-->
						<observation classCode="OBS" moodCode="EVN">
							<id extension="$allergy.id" root="2.16.840.1.113883.3.1818.10.2.10.1"/>
							<code nullFlavor='NA'/>
#*    *##if ( $allergy.archived == 0 )
							<statusCode code="active"/>
#*    *##else
							<statusCode code="completed"/>
#*    *##end
							<effectiveTime value="$dateTool.format('yyyyMMdd', $allergy.getLastUpdateDate())"/>
							<entryRelationship typeCode="COMP" contextConductionInd="true">
								<observation classCode="OBS" moodCode="EVN">
#*    *##if ( $allergy.typecode == 8 ||  $allergy.typecode == 10 || $allergy.typecode == 11 || $allergy.typecode == 13 )
									<code code="MED" displayName="Medication" codeSystem="2.16.840.1.113883.5.4"            
										codeSystemName="HL7 ActCode"/>
#*    *##elseif ( $allergy.typecode == 12 ||  $allergy.typecode == 14 )
									<code code="SUB" displayName="Substance" codeSystem="2.16.840.1.113883.5.4"            
										codeSystemName="HL7 ActCode"/>
#*    *##else
									<code nullFlavor='NA'/>
#*    *##end
									<effectiveTime>
										<low value="$dateTool.format('yyyyMMdd', $allergy.getStartDate())"/>
									</effectiveTime>
									<participant typeCode="CSM" contextControlCode="OP">
										<participantRole classCode="MANU">
											<playingEntity classCode="MMAT" determinerCode="INSTANCE">
#*    *##if ( !$allergy.regionalIdentifier )
												<code nullFlavor='NA'/>
#*    *##else
												<code code="$allergy.regionalIdentifier" displayName="$allergy.description" codeSystem="2.16.840.1.113883.5.1105" codeSystemName="HC-DIN"/>
#*    *##end
												<name>$allergy.description</name>
											</playingEntity>
										</participantRole>
									</participant>
									<entryRelationship typeCode="COMP" contextConductionInd="true">
										<templateId root="2.16.840.1.113883.3.1818.10.4.23"/>
										<!-- Reaction Observation -->
										<observation classCode="OBS" moodCode="EVN">
											<code code="REACTOBS" codeSystem="2.16.840.1.113883.3.1818.10.2.8.1" codeSystemName="PITO ObservationType" displayName="Reaction Observation"/>
											<text>$allergy.reaction</text>
											<value xsi:type="CD" nullFlavor="NI" displayName="No Information"/>
										</observation>
									</entryRelationship>
									<entryRelationship typeCode="COMP" contextConductionInd="true">
										<templateId root="2.16.840.1.113883.3.1818.10.4.30"/>
										<!-- Severity Observation -->
										<observation classCode="OBS" moodCode="EVN">
											<code code="SEV" codeSystem="2.16.840.1.113883.5.4" codeSystemName="HL7 ActCode" displayName="Severity"/>
#*    *##if ( $allergy.severityOfReaction == 1 )
											<value xsi:type="CD" code="MI" codeSystem="2.16.840.1.113883.5.4" codeSystemName="HL7 ObservationValue" displayName="mild"/>
#*    *##elseif ( $allergy.severityOfReaction == 2 )
											<value xsi:type="CD" code="MI" codeSystem="2.16.840.1.113883.5.4" codeSystemName="HL7 ObservationValue" displayName="moderate"/>
#*    *##elseif ( $allergy.severityOfReaction == 3 )
											<value xsi:type="CD" code="MI" codeSystem="2.16.840.1.113883.5.4" codeSystemName="HL7 ObservationValue" displayName="severe"/>
#*    *##else
											<value xsi:type="CD" code="MI" codeSystem="2.16.840.1.113883.5.4" codeSystemName="HL7 ObservationValue" displayName="unknown"/>
#*    *##end
										</observation>	
									</entryRelationship>
									<entryRelationship typeCode="COMP" contextConductionInd="true">
										<observation classCode="OBS" moodCode="EVN">
											<code code="ALLCLINSTS" codeSystem="2.16.840.1.113883.3.1818.10.2.8.1" codeSystemName="PITO ObservationType" displayName="Allergy Clinical Status Code"/>
											<value xsi:type="CD" code="C" codeSystem="2.16.840.1.113883.3.1818.10.2.8.2" codeSystemName="PITO AllergyClinicalStatus" displayName="Confirmed"/>
										</observation>
									</entryRelationship>
								</observation>
							</entryRelationship>
						</observation>
					</entry>
#**##end		
				</section>
			</component>
#else
			<component typeCode="COMP" contextConductionInd="true">
				<section classCode="DOCSECT" moodCode="EVN">
					<templateId root="2.16.840.1.113883.3.1818.10.2.4"/>
					<code code="48765-2" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="Allergies and Adverse Reactions Doc"/>
					<title>Allergies and Intolerances (Reaction List) [without entries]</title>
					<text>Sorry, no allergies</text>
				</section>
			</component>
#end
<!--
********************************************************
Immunization List
********************************************************
-->
#if ( $patient.hasImmunizations() )
			<component typeCode="COMP" contextConductionInd="true">
				<section classCode="DOCSECT" moodCode="EVN">
					<templateId root="2.16.840.1.113883.3.1818.10.2.14.1"/>
					<code code="11369-6" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="History of Immunization"/>
					<title>Immunizations List [with entries]</title>
					<text>Text text text</text>
#**##foreach( $immunization in $patient.getImmunizations() )
					<entry typeCode="COMP" contextConductionInd="false">
						<templateId root="2.16.840.1.113883.3.1818.10.3.11"/>
						<!-- Immunization Observation -->
						<substanceAdministration classCode="SBADM" moodCode="EVN">
							<id extension="BC20120211VAC-145999X" root="2.16.840.1.113883.3.1818.10.10.3"/>
#*    *##if ( $immunization.isRefused() || $immunization.isIneligible() )
							<code code="IMMUNIZ" codeSystem="2.16.840.1.113883.5.4" displayName="Immunization" negationInd="true"/>
#*    *##else
							<code code="IMMUNIZ" codeSystem="2.16.840.1.113883.5.4" displayName="Immunization"/>
#*    *##end
							<statusCode code="active"/>
							<effectiveTime value="$dateTool.format('yyyyMMdd', $immunization.getPreventionDate())"/>
							<routeCode code="PO" codeSystem="2.16.840.1.113883.5.112" codeSystemName="RouteOfAdministration" displayName="${patient.getImmuExtValue("$immunization.getId()", "route")}"/>
#*    *##if ( ${patient.getImmuExtValue("$immunization.getId()", "dose")} != "" )
							<doseQuantity>${patient.getImmuExtValue("$immunization.getId()", "dose")}</doseQuantity>
#*    *##end
							<consumable typeCode="CSM">
								<manufacturedProduct classCode="MANU">
									<manufacturedMaterial classCode="MMAT" determinerCode="KIND">
										<code nullFlavor='NA'/>
										<name>$immunization.preventionType</name>
#*    *##if ( ${patient.getImmuExtValue("$immunization.getId()", "lot")} != "" )
										<lotNumberText>${patient.getImmuExtValue("$immunization.getId()", "lot")}</lotNumberText>
#*    *##end
									</manufacturedMaterial>
								</manufacturedProduct>
							</consumable>
							<author typeCode="AUT" contextControlCode="OP">
								<templateId root="2.16.840.1.113883.3.1818.10.4.2"/>
								<!-- Author Participation -->
								<time value="$dateTool.format('yyyyMMdd', $immunization.getCreationDate())"/>
								<assignedAuthor>
									<id use="BUS" extension="38809" root="2.16.840.1.113883.3.163.5.0.10.2"/>
									<code nullFlavor='NA'/>
									<assignedPerson classCode="PSN" determinerCode="INSTANCE">
										<name use="L">
											<given>$patient.getProviderFirstName($immunization.providerNo)</given>
											<family>$patient.getProviderLastName($immunization.providerNo)</family>
										</name>
									</assignedPerson>
								</assignedAuthor>
							</author>
							<!-- Location -->
#*    *##if ( ${patient.getImmuExtValue("$immunization.getId()", "location")} != "" )
							<participant typeCode="LOC" contextControlCode="OP">
								<templateId root="2.16.840.1.113883.3.1818.10.4.13"/>
								<!-- Location Participation -->
								<participantRole classCode="SDLOC">
									<id use="BUS" extension="38809" root="2.16.840.1.113883.3.163.5.0.10.22"/>
									<playingEntity classCode="PLC" determinerCode="INSTANCE">
										<name>${patient.getImmuExtValue("$immunization.getId()", "location")}</name>
									</playingEntity>								
								</participantRole>
							</participant>
#*    *##else
							<participant nullFlavor='UNK'/>
#*    *##end
#*    *##if ( $immunizaton.getNextDate() )
							<!-- Next Immunization Date -->
							<entryRelationship typeCode="SUBJ" contextConductionInd="true" inversionInd="true">
								<templateId root="2.16.840.1.113883.3.1818.10.4.4"/>
								<!-- Date Observation -->
								<observation classCode="OBS" moodCode="EVN">
									<code code="DTREVIEW" displayName="Date Reviewed" codeSystem="2.16.840.1.113883.3.1818.10.2.8.1"            
										codeSystemName="PITO ObservationType"/>
									<effectiveTime value="$dateTool.format('yyyyMMdd', $immunizaton.getNextDate())"/>
								</observation>								
							</entryRelationship>
#*    *##end
#*    *##if ( ( $immunization.isRefused() || $immunization.isIneligible() ) && ${patient.getImmuExtValue("$immunization.getId()", "neverReason")} )
							<!-- Reason -->
							<entryRelationship typeCode="RSON" contextConductionInd="true">
								<templateId root="2.16.840.1.113883.3.1818.10.4.24"/>
								<!-- Reason Observation -->
									<observation classCode="OBS" moodCode="EVN">
										<id extension="12366" root="2.16.840.1.113883.3.1818.10.2.10.15"/>
										<code code="REASON" displayName="Reason Observation" codeSystem="2.16.840.1.113883.3.1818.10.2.8.1"            
											codeSystemName="PITO ObservationType"/>
										<text>${patient.getImmuExtValue("$immunization.getId()", "neverReason")}</text>
										<effectiveTime value="20120201"/>
										<value xsi:type="CD" code="10144323" codeSystem="2.16.840.1.113883.3.1818.10.2.8.3" codeSystemName="SNOMED-CT" displayName="Patient findings pneumonia"/>
										<author typeCode="AUT" contextControlCode="OP">
											<templateId root="2.16.840.1.113883.3.1818.10.4.2"/>
											<!-- Author Participation -->
											<time value="$dateTool.format('yyyyMMdd', $immunization.getCreationDate())"/>
											<assignedAuthor>
												<id use="BUS" extension="38809" root="2.16.840.1.113883.3.163.5.0.10.2"/>
												<code nullFlavor='NA'/>
												<assignedPerson classCode="PSN" determinerCode="INSTANCE">
													<given>$patient.getProviderFirstName($immunization.providerNo)</given>
													<family>$patient.getProviderLastName($immunization.providerNo)</family>
												</name>
												</assignedPerson>
											</assignedAuthor>											
										</author>
									</observation>								
							</entryRelationship>
#*    *##end
#*    *##if ( ${patient.getImmuExtValue("$immunization.getId()", "comments")} != "" )
							<!-- Immunization Administration Comments -->
							<entryRelationship typeCode="SUBJ" contextConductionInd="true" inversionInd="true">
								<templateId root="2.16.840.1.113883.3.1818.10.4.3"/>
								<!-- Comment Observation -->
								<observation classCode="OBS" moodCode="EVN">
									<code code="48767-8" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="Annotation Comment"/>
									<value xsi:type="ST">${patient.getImmuExtValue("$immunization.getId()", "comments")}</value>
								</observation>
							</entryRelationship>
#*    *##end
						</substanceAdministration>						
					</entry>
#**##end
				</section>
			</component>
#else
			<component typeCode="COMP" contextConductionInd="true">
				<section classCode="DOCSECT" moodCode="EVN">
					<templateId root="2.16.840.1.113883.3.1818.10.2.14"/>
					<code code="11369-6" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="History of Immunization"/>
					<title>Immunizations List [without entries]</title>
					<text>Sorry, no immunizations</text>
				</section>
			</component>
#end
<!--
********************************************************
Medications and Prescriptions - Medication List
********************************************************
-->
#if ( $patient.hasMedications() )
			<component typeCode="COMP" contextConductionInd="true">
				<section classCode="DOCSECT" moodCode="EVN">
					<templateId root="2.16.840.1.113883.3.1818.10.2.19.1"/>
					<code code="10160-6" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="History of Medication Use"/>
					<title>Medications and Prescriptions - Medication List [with entries]</title>
#**##foreach ( $med in $patient.getMedications() )
					<entry typeCode="COMP" contextConductionInd="true">
						<templateId root="2.16.840.1.113883.3.1818.10.3.18" />
						<substanceAdministration classCode="SBADM" moodCode="EVN">
							<id extension="$med.id" root="OSCAR.local" />
							<code code="DRUG" codeSystem="2.16.840.1.113883.5.4" displayName="Drug Therapy"/>
#*    *##if ( $patient.isActiveDrug($med.getEndDate()) )
							<statusCode code="active"/>
#*    *##else
							<statusCode code="completed"/>
#*    *##end
							<effectiveTime xsi:type="IVL_TS" operator="I">
								<low value="$dateTool.format('yyyyMMdd', $med.getRxDate())"/>
								<high value="$dateTool.format('yyyyMMdd', $med.getEndDate())" />
							</effectiveTime>
							<!--Medication Identification-->
							<consumable typeCode="CSM">
								<templateId root="2.16.840.1.113883.3.1818.10.4.16"/>
								<manufacturedProduct classCode="MANU">
									<manufacturedMaterial classCode="MMAT" determinerCode="KIND">
										<code code="$med.regionalIdentifier" codeSystem="2.16.840.1.113883.5.1105" codeSystemName="HC-DIN" displayName="$med.genericName"/>
#*    *##if ( $med.atc )
										<code code="$med.atc" codeSystem="2.16.840.1.113883.6.73" codeSystemName="whoATC" displayName="$med.genericName"/>
#*    *##end
										<name>$med.brandName</name>
									</manufacturedMaterial>
								</manufacturedProduct>
							</consumable>    
							<!--end Medication Identification-->
						</substanceAdministration>
					</entry>
#**##end
				</section>
			</component>
#else
			<component typeCode="COMP" contextConductionInd="true">
				<section classCode="DOCSECT" moodCode="EVN">
					<templateId root="2.16.840.1.113883.3.1818.10.2.19.1"/>
					<code code="10160-6" codeSystem="2.16.840.1.113883.6.1" codeSystemName="LOINC" displayName="History of Medication Use"/>
					<title>Medications and Prescriptions - Medication List [without entries]</title>
					<text>Sorry, no medications</text>
				</section>
			</component>
#end
		</structuredBody>
	</component>
</ClinicalDocument>