<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd" default-autowire="no">

	<!-- hibernate session factory -->
	<!-- 
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
	 -->
	<bean id="sessionFactory" class="org.oscarehr.util.SpringHibernateLocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingDirectoryLocations">
			<!-- only *.hbm.xml will be loaded -->
			<list>
				<value>classpath:/org/caisi/model</value>
				<value>classpath:/org/oscarehr/PMmodule/model</value>
				<value>classpath:/org/oscarehr/survey/model</value>
				<value>classpath:/org/oscarehr/casemgmt/model</value>
				<value>classpath:/org/oscarehr/phr/model</value>
				<value>classpath:/org/oscarehr/common/model</value>
				<value>classpath:/org/oscarehr/eyeform/model</value>
				<value>classpath:/com/quatro/model</value>
				<value>classpath:/oscar/entities</value>
			</list>
		</property>
		<property name="annotatedClasses">
			<list>
       			<value>org.oscarehr.common.model.Admission</value>
       		</list>            		
 		</property>
		
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.generate_statistics">${hibernate.generate_statistics}</prop>
				<prop key="hibernate.cache.use_second_level_cache">false</prop>
				<prop key="hibernate.cache.use_query_cache">false</prop>				
			</props>
		</property>
		<property name="eventListeners">
			<map>
				<entry key="merge">
					<bean class="org.springframework.orm.hibernate3.support.IdTransferringMergeEventListener" />
				</entry>
			</map>
		</property>
	</bean>

<!--
	<bean id="auditSessionFactory" class="org.oscarehr.util.SpringHibernateLocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingDirectoryLocations">
			<list>
				<value>classpath:/org/oscarehr/common/model</value>
				<value>classpath:/org/caisi/model</value>
				<value>classpath:/org/oscarehr/PMmodule/model</value>
				<value>classpath:/org/oscarehr/survey/model</value>
				<value>classpath:/org/oscarehr/casemgmt/model</value>
				<value>classpath:/com/quatro/model</value>
				<value>classpath:/oscar/appt/status/model</value>
				<value>classpath:/oscar/oscarRx/model</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.generate_statistics">${hibernate.generate_statistics}</prop>
				<prop key="hibernate.cache.use_second_level_cache">false</prop>
				<prop key="hibernate.cache.use_query_cache">false</prop>
			</props>
		</property>
	</bean>
-->
</beans>
