<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:cxf="http://cxf.apache.org/core"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
		http://cxf.apache.org/jaxws	http://cxf.apache.org/schemas/jaxws.xsd
		
	">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<!-- interceptors --> 
	<bean id="abstractLoggingInterceptor" abstract="true">
		<property name="prettyLogging" value="true" />
	</bean>
	<bean id="loggingInInterceptor" class="org.apache.cxf.interceptor.LoggingInInterceptor" parent="abstractLoggingInterceptor" />
	<bean id="loggingOutInterceptor" class="org.apache.cxf.interceptor.LoggingOutInterceptor" parent="abstractLoggingInterceptor" />

    <cxf:bus>
		<cxf:properties>
			<entry key="ws-security.ut.validator" value="org.oscarehr.ws.OscarUsernameTokenValidator" />
		</cxf:properties>
		
		<!-- BORN XDS Soap Header Interceptor (Adds endpointID node to header) -->
		
		<cxf:outInterceptors>
			<bean id="bornSOAPHeaderInterceptor" class="org.oscarehr.integration.born.BornSOAPHeaderInterceptor" />
			<ref bean="loggingOutInterceptor" />
		</cxf:outInterceptors>
		
		<!-- logging interceptors -->
		 
		<cxf:inInterceptors>
			<ref bean="loggingInInterceptor" />
		</cxf:inInterceptors>
		
		<cxf:outFaultInterceptors>
			<ref bean="loggingOutInterceptor" />
		</cxf:outFaultInterceptors>
		<cxf:inFaultInterceptors>
			<ref bean="loggingInInterceptor" />
		</cxf:inFaultInterceptors>
		 
    </cxf:bus>

	<!-- Managed WS Beans -->
	<!-- The WS classes are turned into spring beans to allow autowiring etc, then the endpoints reference them -->
 	<context:component-scan base-package="org.oscarehr.ws"/>
	
	<bean id="authenticationInWSS4JInterceptor" class="org.oscarehr.ws.AuthenticationInWSS4JInterceptor" />

	<!-- web service endpoints -->
	<jaxws:endpoint implementor="#systemInfoWs" address="/SystemInfoService"/>		
	<jaxws:endpoint implementor="#loginWs" address="/LoginService" />	
	
	<jaxws:endpoint implementor="#scheduleWs" address="/ScheduleService">
		<jaxws:inInterceptors>
			<ref bean="authenticationInWSS4JInterceptor"/>
		</jaxws:inInterceptors>
	</jaxws:endpoint>	
	
	<jaxws:endpoint implementor="#providerWs" address="/ProviderService" >
		<jaxws:inInterceptors>
			<ref bean="authenticationInWSS4JInterceptor"/>
		</jaxws:inInterceptors>
	</jaxws:endpoint>	
	
	<jaxws:endpoint implementor="#demographicWs" address="/DemographicService" >
		<jaxws:inInterceptors>
			<ref bean="authenticationInWSS4JInterceptor"/>
		</jaxws:inInterceptors>
	</jaxws:endpoint>
		
	<jaxws:endpoint implementor="#facilityWs" address="/FacilityService" >
		<jaxws:inInterceptors>
			<ref bean="authenticationInWSS4JInterceptor"/>
		</jaxws:inInterceptors>
	</jaxws:endpoint>	
  
	<jaxws:endpoint implementor="#programWs" address="/ProgramService" >
		<jaxws:inInterceptors>
			<ref bean="authenticationInWSS4JInterceptor"/>
		</jaxws:inInterceptors>
	</jaxws:endpoint>	
     	
	<jaxws:endpoint implementor="#allergyWs" address="/AllergyService" >
		<jaxws:inInterceptors>
			<ref bean="authenticationInWSS4JInterceptor"/>
		</jaxws:inInterceptors>
	</jaxws:endpoint>	
     	
	<jaxws:endpoint implementor="#preventionWs" address="/PreventionService" >
		<jaxws:inInterceptors>
			<ref bean="authenticationInWSS4JInterceptor"/>
		</jaxws:inInterceptors>
	</jaxws:endpoint>	

	<jaxws:endpoint implementor="#measurementWs" address="/MeasurementService" >
		<jaxws:inInterceptors>
			<ref bean="authenticationInWSS4JInterceptor"/>
		</jaxws:inInterceptors>
	</jaxws:endpoint>	

	<jaxws:endpoint implementor="#documentWs" address="/DocumentService" >
		<jaxws:inInterceptors>
			<ref bean="authenticationInWSS4JInterceptor"/>
		</jaxws:inInterceptors>
	</jaxws:endpoint>	

	<jaxws:endpoint implementor="#prescriptionWs" address="/PrescriptionService" >
		<jaxws:inInterceptors>
			<ref bean="authenticationInWSS4JInterceptor"/>
		</jaxws:inInterceptors>
	</jaxws:endpoint>	
</beans>
