<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>	
    
    <bean id="baseTransactionProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean" abstract="true">
		<property name="transactionManager">
                    <ref bean="transactionManager" />
                </property> 
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
    </bean>
        
    <bean id="bedAuditStrategy" class="org.oscarehr.PMmodule.dao.hibernate.BedAuditStrategy">
		<property name="sessionFactory">
			<ref bean="auditSessionFactory"/>
		</property>
	</bean>
	<bean id="bedDemographicAuditStrategy" class="org.oscarehr.PMmodule.dao.hibernate.BedDemographicAuditStrategy">
		<property name="sessionFactory">
			<ref bean="auditSessionFactory"/>
		</property>
	</bean>

	<bean id="roomAuditStrategy" class="org.oscarehr.PMmodule.dao.hibernate.RoomAuditStrategy">
		<property name="sessionFactory">
			<ref bean="auditSessionFactory"/>
		</property>
	</bean>
        
        <!-- DAO -->      
        <bean id="populationReportDAO" class="org.oscarehr.common.dao.hibernate.PopulationReportDAOHibernate">
            <property name="sessionFactory">
                <ref bean="sessionFactory" />
            </property>
        </bean>
        <bean id="ticklerDAOT" class="org.caisi.dao.hibernate.TicklerDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
        <bean id="customFilterDAOT" class="org.caisi.dao.hibernate.CustomFilterDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>        
        <bean id="consultationDAOT" class="org.caisi.dao.hibernate.ConsultationDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
        <bean id="chartDAOT" class="org.caisi.dao.hibernate.EChartDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
        <bean id="SystemMessageDAO" class="org.caisi.dao.hibernate.SystemMessageDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
        <bean id="issueAdminDAO" class="org.caisi.dao.hibernate.IssueAdminDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>    
        
        <!-- Generic Intake -->
        <bean id="CaisiRoleDAO" class="org.caisi.dao.hibernate.CaisiRoleDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>        
	<bean id="surveyDAO" class="org.oscarehr.survey.dao.hibernate.SurveyDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
        <bean id="surveyTestDAO" class="org.oscarehr.survey.dao.hibernate.SurveyTestDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
        <bean id="oscarFormDAO" class="org.oscarehr.survey.dao.oscar.hibernate.OscarFormDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
        
        <bean id="formsDAO" class="org.oscarehr.PMmodule.dao.hibernate.FormsDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
        <bean id="oscarSecurityDAO" class="org.oscarehr.PMmodule.dao.hibernate.OscarSecurityDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
        <bean id="logDAO" class="org.oscarehr.PMmodule.dao.hibernate.LogDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>        
         <bean id="bedCheckTimeDAO" class="org.oscarehr.PMmodule.dao.hibernate.BedCheckTimeDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
        <bean id="ratePageDao" class="org.oscarehr.PMmodule.dao.hibernate.HibernateRatePageDao">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>	    					
	 <bean id="accessTypeDAO" class="org.caisi.dao.jdbc.AccessTypeDAOJdbc">
                <property name="dataSource">
                        <ref bean="dataSource" />
                </property>
        </bean>
	<bean id="genericIntakeNodeDAO" class="org.oscarehr.PMmodule.dao.hibernate.GenericIntakeNodeDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="genericIntakeDAO" class="org.oscarehr.PMmodule.dao.hibernate.GenericIntakeDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="intakeADao" class="org.oscarehr.PMmodule.dao.hibernate.IntakeADaoHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="intakeCDao" class="org.oscarehr.PMmodule.dao.hibernate.IntakeCDaoHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="consentDao" class="org.oscarehr.PMmodule.dao.hibernate.ConsentDAOHibernate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>		
        
        <!-- managers  -->                
        
        <bean id="ticklerManagerT" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref local="ticklerManagerTargetT" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean id="ticklerManagerTargetT" class="org.caisi.service.impl.TicklerManagerImpl">
		<property name="ticklerDAO">
			<ref local="ticklerDAOT" />
		</property>
		<property name="customFilterDAO">
			<ref local="customFilterDAOT" />
		</property>
	</bean>
        <bean id="demographicManagerT" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref local="demographicManagerTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean id="demographicManagerTarget" class="org.caisi.service.impl.DemographicManagerImplTickler">
		<property name="demographicDAO">
			<ref bean="demographicDAOT" />
		</property>
	</bean>
	<bean id="preparedTicklerManagerT" class="org.caisi.tickler.prepared.PreparedTicklerManager" singleton="true"></bean>
	<bean id="consultationManager" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref local="consultationManagerTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean id="consultationManagerTarget" class="org.caisi.service.impl.ConsultationManagerImpl">
		<property name="consultationDAO">
			<ref local="consultationDAOT" />
		</property>
	</bean>
        <bean id="chartManagerT" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref local="chartManagerTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean id="chartManagerTarget" class="org.caisi.service.impl.EChartManagerImpl">
		<property name="chartDAO">
			<ref local="chartDAOT" />
		</property>
	</bean>
        <bean id="SystemMessageManager" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref local="SystemMessageManagerTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean id="SystemMessageManagerTarget" class="org.caisi.service.impl.SystemMessageManagerImpl">
		<property name="systemMessageDAO">
			<ref local="SystemMessageDAO" />
		</property>
	</bean>
        <bean id="issueAdminManager" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref local="issueAdminManagerTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>
	<bean id="issueAdminManagerTarget" class="org.caisi.service.impl.IssueAdminManagerImpl">
		<property name="issueAdminDAO">
			<ref local="issueAdminDAO" />
		</property>
	</bean>
        <bean id="CaisiRoleManager" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="target">
			<ref local="CaisiRoleManagerTarget" />
		</property>
		<property name="transactionAttributes">
			<props>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<bean id="CaisiRoleManagerTarget" class="org.caisi.service.impl.CaisiRoleManagerImpl">
		<property name="caisiRoleDAO">
			<ref local="CaisiRoleDAO" />
		</property>
		<property name="providerDAO">
			<ref bean="providerDao" />
		</property>
		<property name="accessTypeDAO">
                    <ref local="accessTypeDAO" />
                </property> 
	</bean>        
	<bean id="roomManager" parent="baseTransactionProxy">
		<property name="target">
			<bean class="org.oscarehr.PMmodule.service.impl.RoomManagerImpl">
				<property name="roomDAO">
                                    <ref bean="roomDAO" />
                                </property> 
				<property name="programDAO">
                                    <ref bean="programDao" />
                                </property> 
				<property name="bedDAO">
                                    <ref bean="bedDAO" />
                                </property> 
			</bean>
		</property>
	</bean>
	<bean id="bedManager" parent="baseTransactionProxy">
		<property name="target">
			<bean class="org.oscarehr.PMmodule.service.impl.BedManagerImpl">
				<property name="bedDAO">
                                    <ref bean="bedDAO" />
                                </property> 
				<property name="roomDAO">
                                    <ref bean="roomDAO" />
                                </property> 
				<property name="teamDAO" ref="programTeamDAO" />
				<property name="bedDemographicManager">
                                    <ref bean="bedDemographicManager" />
                                </property> 
			</bean>
		</property>
	</bean>	
	<bean id="bedCheckTimeManager" parent="baseTransactionProxy">
		<property name="target">
			<bean class="org.oscarehr.PMmodule.service.impl.BedCheckTimeManagerImpl">
				<property name="bedCheckTimeDAO" ref="bedCheckTimeDAO" />
			</bean>
		</property>
	</bean>
	<bean id="ratePageManager" parent="baseTransactionProxy">
		<property name="target">
			<bean class="org.oscarehr.PMmodule.service.impl.RatePageManagerImpl">
				<property name="ratePageDao" ref="ratePageDao" />
			</bean>
		</property>
	</bean>
        <bean id="surveyUserManager" class="org.oscarehr.survey.service.impl.UserManagerOscar" />
	        
	
    <bean id="populationReportManager" parent="baseTransactionProxy">
        <property name="target">
            <bean class="org.oscarehr.common.service.impl.PopulationReportManagerImpl">
                <property name="populationReportDAO" ref="populationReportDAO" />
                <property name="issueDAO" ref="IssueDAO" />
            </bean>
        </property>
    </bean>    	
	
        
        <!-- Generic Intake -->
	<bean id="genericIntakeManager" parent="baseTransactionProxy">
		<property name="target">
			<bean class="org.oscarehr.PMmodule.service.impl.GenericIntakeManagerImpl">
				<property name="genericIntakeNodeDAO" ref="genericIntakeNodeDAO" />
				<property name="genericIntakeDAO" ref="genericIntakeDAO" />
				<property name="programDAO">
                                    <ref bean="programDao" />
                                </property> 
				<property name="admissionDAO" ref="admissionDao" />
			</bean>
		</property>
	</bean>
	<bean id="intakeAManager" parent="baseTransactionProxy">
		<property name="target">
			<bean class="org.oscarehr.PMmodule.service.impl.IntakeAManagerImpl">
				<property name="intakeADao" ref="intakeADao" />
				<property name="clientDao">
                                    <ref bean="clientDao" />
                                </property> 
				<property name="enabled" value="${intakea.enabled}" />
				<property name="newClientForm" value="${intakea.newForm}" />
			</bean>
		</property>
	</bean>
	<bean id="intakeCManager" parent="baseTransactionProxy">
		<property name="target">
			<bean class="org.oscarehr.PMmodule.service.impl.IntakeCManagerImpl">
				<property name="intakeCDao" ref="intakeCDao" />
				<property name="clientDao">
                                    <ref bean="clientDao" />
                                </property> 
				<property name="enabled" value="${intakec.enabled}" />
				<property name="newClientForm" value="${intakec.newForm}" />
			</bean>
		</property>
	</bean>       
        <bean id="surveyLaunchManager" parent="baseTransactionProxy">
		<property name="target">
			<bean class="org.oscarehr.survey.service.impl.SurveyLaunchManagerOscar">
				<property name="oscarFormDAO">
					<ref local="oscarFormDAO" />
				</property>
			</bean>
		</property>
	</bean>
        <bean id="surveyManager" parent="baseTransactionProxy">
		<property name="target">
			<bean class="org.oscarehr.survey.service.impl.SurveyManagerImpl">
				<property name="surveyDAO" ref="surveyDAO" />
			</bean>
		</property>
	</bean>
	<bean id="surveyTestManager" parent="baseTransactionProxy">
		<property name="target">
			<bean class="org.oscarehr.survey.service.impl.SurveyTestManagerImpl">
				<property name="surveyTestDAO" ref="surveyTestDAO" />
			</bean>
		</property>
	</bean>
        <bean id="logManager" parent="baseTransactionProxy">
		<property name="target">
			<bean class="org.oscarehr.PMmodule.service.impl.LogManagerImpl">
				<property name="logDAO" ref="logDAO" />
			</bean>
		</property>
	</bean>
	<bean id="oscarSecurityManager" parent="baseTransactionProxy">
		<property name="target">
			<bean class="org.oscarehr.PMmodule.service.impl.OscarSecurityManagerImpl">
				<property name="oscarSecurityDAO" ref="oscarSecurityDAO" />
			</bean>
		</property>
	</bean>
	
	<bean id="formsManager" parent="baseTransactionProxy">
		<property name="target">
			<bean class="org.oscarehr.PMmodule.service.impl.FormsManagerImpl">
				<property name="formsDAO" ref="formsDAO" />
			</bean>
		</property>
	</bean>
	
        <bean id="agencyManager" parent="baseTransactionProxy">
		<property name="target">
			<bean class="org.oscarehr.PMmodule.service.impl.AgencyManagerImpl">
				<property name="agencyDao">
                                    <ref bean="agencyDao" />
                                </property> 
			</bean>
		</property>
	</bean>
	<bean id="consentManager" parent="baseTransactionProxy">
		<property name="target">
			<bean class="org.oscarehr.PMmodule.service.impl.ConsentManagerImpl">
				<property name="consentDao" ref="consentDao" />
				<property name="clientDao">
                                    <ref bean="clientDao" />
                                </property> 
			</bean>
		</property>
	</bean>
        <bean id="providerManager" parent="baseTransactionProxy">
		<property name="target">
			<bean class="org.oscarehr.PMmodule.service.impl.ProviderManagerImpl">
				<property name="providerDao">
                                    <ref bean="providerDao" />
                                </property> 
				<property name="agencyDAO">
                                    <ref bean="agencyDao" />
                                </property> 
				<property name="programProviderDAO" ref="programProviderDAO" />
			</bean>
		</property>
	</bean>
        
	<!-- ========================= SCHEDULED JOBS ========================= -->
	<bean id="scheduledIntegratorUpdateTask" class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<property name="timerTask">
			<bean class="org.oscarehr.PMmodule.task.IntegratorUpdateTask">
				<property name="integratorManager">
					<ref bean="integratorManager" />
				</property>
				<property name="programManager">
					<ref bean="programManager" />
				</property>
				<property name="admissionManager">
					<ref bean="admissionManager" />
				</property>
				<property name="providerManager">
					<ref bean="providerManager" />
				</property>
				<property name="clientManager">
					<ref bean="clientManager" />
				</property>
			</bean>
		</property>
		<property name="delay">
			<!-- run 1 min after start -->
			<value>60000</value>
		</property>
		<property name="period">
			<!-- run every 10 mins -->
			<value>600000</value>
		</property>
	</bean>
    
	<bean id="scheduledBedProgramDischargeTask" class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<property name="timerTask">
			<bean class="org.oscarehr.PMmodule.task.BedProgramDischargeTask">
				<property name="programManager">
					<ref bean="programManager" />
				</property>
				<property name="bedManager">
					<ref bean="bedManager" />
				</property>
				<property name="bedDemographicManager">
					<ref bean="bedDemographicManager" />
				</property>
			</bean>
		</property>
		<property name="delay">
			<!-- run 2 min after start -->
			<value>120000</value>
		</property>
		<property name="period">
			<!-- run every 60 mins -->
			<value>3600000</value>
		</property>
	</bean>
    
	<bean id="scheduledErProgramDischargeTask" class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<property name="timerTask">
			<bean class="org.oscarehr.PMmodule.task.ErProgramDischargeTask">
				<property name="admissionManager">
					<ref bean="admissionManager" />
				</property>
				<property name="providerManager">
					<ref bean="providerManager" />
				</property>
			</bean>
		</property>
		<property name="delay">
			<!-- run 3 min after start -->
			<value>180000</value>
		</property>
		<property name="period">
			<!-- run every 5 mins -->
			<value>300000</value>
		</property>
	</bean>

    <bean id="scheduledPopulationReportTask" class="org.springframework.scheduling.timer.ScheduledTimerTask">
        <property name="timerTask">
            <bean class="org.oscarehr.common.task.PopulationReportTask" />
        </property>
        <property name="delay">
            <!-- run 4 min after start -->
            <value>240000</value>
        </property>
        <property name="period">
			<!-- run every 60 mins -->
			<value>3600000</value>
        </property>
    </bean>
    
	<bean id="scheduler" class="org.springframework.scheduling.timer.TimerFactoryBean">
		<property name="scheduledTimerTasks">
			<list>
				<ref local="scheduledIntegratorUpdateTask" />
				<ref local="scheduledBedProgramDischargeTask" />
				<ref local="scheduledErProgramDischargeTask" />
                <ref local="scheduledPopulationReportTask" />
			</list>
		</property>
	</bean>
    
	<bean id="QuestionTypes" class="org.oscarehr.survey.model.QuestionTypes" singleton="true" />

	<bean id="testmode" class="java.lang.String">
		<constructor-arg>
			<value>${testmode.enabled}</value>
		</constructor-arg>
	</bean>
    
	<bean id="version" class="org.caisi.service.impl.VersionImpl">
		<property name="version">
			<value>2.0.0</value>
		</property>
	</bean>
</beans>