<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd" default-autowire="no">

	<!--
		load properties from additional property files; oscar.properties is
		already loaded
	-->
	<bean id="propertyConfigurer" class="org.oscarehr.common.OscarPropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>/WEB-INF/classes/oscar_mcmaster.properties</value>
			</list>
		</property>
	</bean>

	<!-- setup JPA -->
	<import resource="classpath:spring_jpa.xml" />

	<!-- setup hibernate -->
	<import resource="classpath:spring_hibernate.xml" />

	<!-- hibernated DAO -->
        <bean id="gstControlDao" class="org.oscarehr.billing.CA.dao.GstControlDao" autowire="byName" />
        <bean id="billingClaimDAO" class="org.oscarehr.billing.CA.ON.dao.BillingClaimDAO" autowire="byName" />
	<bean id="demoDao" class="oscar.oscarEncounter.oscarMeasurements.dao.DemographicHibernateDao" autowire="byName"/>
	<bean id="measurementsDao" class="oscar.oscarEncounter.oscarMeasurements.dao.MeasurementsHibernateDao" autowire="byName"/>
	<bean id="measurementsExtDao" class="oscar.oscarEncounter.oscarMeasurements.dao.MeasurementsExtDao" autowire="byName"/>
	<bean id="measurementTypeDao" class="oscar.oscarEncounter.oscarMeasurements.dao.MeasurementTypeDao" autowire="byName"/>
	<bean id="measurementMapDao" class="oscar.oscarEncounter.oscarMeasurements.dao.MeasurementMapDao" autowire="byName"/>
	<bean id="programDao" class="org.oscarehr.PMmodule.dao.ProgramDao" autowire="byName" />
	<bean id="programQueueDao" class="org.oscarehr.PMmodule.dao.ProgramQueueDao" autowire="byName" />
	<bean id="clientReferralDAO" class="org.oscarehr.PMmodule.dao.ClientReferralDAO" autowire="byName" />
	<bean id="agencyDao" class="org.oscarehr.PMmodule.dao.AgencyDao" autowire="byName" />
	<bean id="admissionDao" class="org.oscarehr.PMmodule.dao.AdmissionDao" autowire="byName" />
	<bean id="jointAdmissionDAO" class="org.oscarehr.PMmodule.dao.JointAdmissionDAO" autowire="byName" />
	<bean id="bedDemographicDao" class="org.oscarehr.PMmodule.dao.BedDemographicDao" autowire="byName" />
	<bean id="roomDemographicDao" class="org.oscarehr.PMmodule.dao.RoomDemographicDao" autowire="byName" />
	<bean id="providerDao" class="org.oscarehr.PMmodule.dao.ProviderDao" autowire="byName" />
	<bean id="bedDAO" class="org.oscarehr.PMmodule.dao.BedDAO" autowire="byName" />
	<bean id="clientDao" class="org.oscarehr.PMmodule.dao.ClientDao" autowire="byName" />
	<bean id="streetHealthDao" class="org.oscarehr.PMmodule.dao.StreetHealthDao" autowire="byName" />
	<bean id="countryCodeDAO" class="org.oscarehr.common.dao.CountryCodeDAO" autowire="byName" />
	<bean id="dxResearchDao" class="org.oscarehr.dx.dao.DxResearchDAO" autowire="byName" />
	<bean id="billingOnItemDao" class="oscar.oscarBilling.ca.on.dao.BillingOnItemDao" autowire="byName" />
	<bean id="otherIdDao" class="org.oscarehr.common.dao.OtherIdDAO" autowire="byName" />
	
	<!-- <bean id="topazDao" class="com.quatro.dao.TopazDao" autowire="byName" /> -->
	<bean id="roomDAO" class="org.oscarehr.PMmodule.dao.RoomDAO" autowire="byName" />
	<bean id="CaseManagementIssueDAO" class="org.oscarehr.casemgmt.dao.CaseManagementIssueDAO" autowire="byName" />
	<bean id="caseManagementIssueDAO" class="org.oscarehr.casemgmt.dao.CaseManagementIssueDAO" autowire="byName" />
	<bean id="CaseManagementNoteDAO" class="org.oscarehr.casemgmt.dao.CaseManagementNoteDAO" autowire="byName" />
	<bean id="caseManagementNoteDAO" class="org.oscarehr.casemgmt.dao.CaseManagementNoteDAO" autowire="byName" />
	<bean id="CaseManagementNoteExtDAO" class="org.oscarehr.casemgmt.dao.CaseManagementNoteExtDAO" autowire="byName" />
	<bean id="CaseManagementNoteLinkDAO" class="org.oscarehr.casemgmt.dao.CaseManagementNoteLinkDAO" autowire="byName" />
	<bean id="CaseManagementCPPDAO" class="org.oscarehr.casemgmt.dao.CaseManagementCPPDAO" autowire="byName" />
	<bean id="OnCallDAO" class="org.oscarehr.casemgmt.dao.OnCallDAO" autowire="byName" />

	<bean id="AllergyDAO" class="org.oscarehr.casemgmt.dao.AllergyDAO" autowire="byName" />
	<bean id="prescriptionDAO" class="org.oscarehr.casemgmt.dao.PrescriptionDAO" autowire="byName" />
	<bean id="IssueDAO" class="org.oscarehr.casemgmt.dao.IssueDAO" autowire="byName" />
	<bean id="EchartDAO" class="org.oscarehr.casemgmt.dao.EchartDAO" autowire="byName" />
	<bean id="secroleDao" class="com.quatro.dao.security.SecroleDao" autowire="byName"/>
	<bean id="MessagetblDAO" class="org.oscarehr.casemgmt.dao.MessagetblDAO" autowire="byName" />
	<bean id="ProviderSignitureDao" class="org.oscarehr.casemgmt.dao.ProviderSignitureDao" autowire="byName" />
	<bean id="RoleProgramAccessDAO" class="org.oscarehr.casemgmt.dao.RoleProgramAccessDAO" autowire="byName" />
	<bean id="clientImageDAO" class="org.oscarehr.casemgmt.dao.ClientImageDAO" autowire="byName" />
	<bean id="roleDAO" class="org.oscarehr.PMmodule.dao.RoleDAO" autowire="byName" />
	<bean id="CaseManagementTmpSaveDAO" class="org.oscarehr.casemgmt.dao.CaseManagementTmpSaveDAO" autowire="byName" />
	<bean id="ticklerDAO" class="org.oscarehr.casemgmt.dao.TicklerDAO" autowire="byName" />
	<bean id="oscarSurveyDAO" class="org.oscarehr.PMmodule.dao.SurveyDAO" autowire="byName" />
	<bean id="programProviderDAO" class="org.oscarehr.PMmodule.dao.ProgramProviderDAO" autowire="byName" />
	<bean id="programFunctionalUserDAO" class="org.oscarehr.PMmodule.dao.ProgramFunctionalUserDAO" autowire="byName" />
	<bean id="programAccessDAO" class="org.oscarehr.PMmodule.dao.ProgramAccessDAO" autowire="byName" />
	<bean id="defaultRoleAccessDAO" class="org.oscarehr.PMmodule.dao.DefaultRoleAccessDAO" autowire="byName" />
	<bean id="programClientStatusDAO" class="org.oscarehr.PMmodule.dao.ProgramClientStatusDAO" autowire="byName" />
	<bean id="programTeamDAO" class="org.oscarehr.PMmodule.dao.ProgramTeamDAO" autowire="byName" />
	<bean id="providerDefaultProgramDao" class="org.caisi.dao.ProviderDefaultProgramDao" autowire="byName" />
	<bean id="bedProgramDao" class="org.caisi.dao.BedProgramDao" autowire="byName" />
	<bean id="demographicDao" class="org.oscarehr.common.dao.DemographicDao" autowire="byName" />
	<bean id="secUserRoleDao" class="org.oscarehr.PMmodule.dao.SecUserRoleDao" autowire="byName" />
	<bean id="programSignatureDao" class="org.oscarehr.PMmodule.dao.ProgramSignatureDao" autowire="byName" />
	<bean id="consultationDAOT" class="org.caisi.dao.ConsultationDAO" autowire="byName" />
	<bean id="chartDAOT" class="org.caisi.dao.EChartDAO" autowire="byName" />
	<bean id="ticklerDAOT" class="org.caisi.dao.TicklerDAO" autowire="byName" />
	<bean id="customFilterDAOT" class="org.caisi.dao.CustomFilterDAO" autowire="byName" />
	<bean id="HashAuditDAO" class="org.oscarehr.casemgmt.dao.HashAuditDAO" autowire="byName" />
	<bean id="programClientRestrictionDAO" class="org.oscarehr.PMmodule.dao.ProgramClientRestrictionDAO" autowire="byName" />
	<bean id="EncounterWindowDAO" class="org.oscarehr.casemgmt.dao.EncounterWindowDAO" autowire="byName" />
	<bean id="UserPropertyDAO" class="org.oscarehr.common.dao.UserPropertyDAO" autowire="byName" />
	<bean id="clinicDAO" class="org.oscarehr.common.dao.ClinicDAO" autowire="byName" />
	<bean id="siteDao" class="org.oscarehr.common.dao.SiteDao" autowire="byName" />
	<bean id="UserDSMessagePrefsDAO" class="org.oscarehr.common.dao.UserDSMessagePrefsDAO" autowire="byName" />
	<bean id="flowSheetCustomizerDAO" class="org.oscarehr.common.dao.FlowSheetCustomizerDAO" autowire="byName"/>
	<bean id="flowSheetDrugDAO" class="org.oscarehr.common.dao.FlowSheetDrugDAO" autowire="byName"/>
	<bean id="facilityMessageDAO" class="org.caisi.dao.FacilityMessageDAO" autowire="byName" />
	<bean id="ticklerLinkDAO" class="org.oscarehr.common.dao.TicklerLinkDAO" autowire="byName" />
	<bean id="UserViewDAO" class="org.oscarehr.common.dao.ViewDAO" autowire="byName" />
	<bean id="BillingmasterDAO" class="oscar.oscarBilling.ca.bc.data.BillingmasterDAO" autowire="byName" />
	<bean id="BillingDxCodeDAO" class="oscar.oscarBilling.ca.bc.data.BillingDxCodeDAO" autowire="byName" />
	<bean id="BillingreferralDAO" class="org.oscarehr.common.dao.BillingreferralDao" autowire="byName" />
	<bean id="DxresearchDAO" class="org.oscarehr.common.dao.DxresearchDAO" autowire="byName" />
	<bean id="Icd9DAO" class="org.oscarehr.common.dao.Icd9Dao" autowire="byName" />
        <bean id="MyGroupDAO" class="org.oscarehr.common.dao.MyGroupDAO" autowire="byName" />
    <bean id="OcularProcDAO" class="org.oscarehr.eyeform.dao.OcularProcDao" autowire="byName" />
	<bean id="SpecsHistoryDAO" class="org.oscarehr.eyeform.dao.SpecsHistoryDao" autowire="byName" />
	<bean id="ProcedureBookDAO" class="org.oscarehr.eyeform.dao.ProcedureBookDao" autowire="byName" />
	<bean id="TestBookDAO" class="org.oscarehr.eyeform.dao.TestBookRecordDao" autowire="byName" />
	<bean id="MacroDAO" class="org.oscarehr.eyeform.dao.MacroDao" autowire="byName" />
	<bean id="FollowUpDAO" class="org.oscarehr.eyeform.dao.FollowUpDao" autowire="byName" />
        <bean id="rourke2009Dao" class="oscar.form.dao.Rourke2009DAO" autowire="byName" />      
	<bean id="EyeFormDao" class="org.oscarehr.eyeform.dao.EyeFormDao" autowire="byName" />
    
	<!--  configure the scratch pad -->
	<bean id="scratchPadDao" class="com.quatro.dao.ScratchPadDao" autowire="byName" />
	<bean id="lookupDao" class="com.quatro.dao.LookupDao" autowire="byName" />
	<bean id="documentDAO" class="org.oscarehr.document.dao.DocumentDAO" autowire="byName" />
	<bean id="userAccessDao" class="com.quatro.dao.security.UserAccessDao" autowire="byName" />
	<bean id="appointStatusDao" class="oscar.appt.status.dao.hibernate.AppointmentStatusDAOHibernate" autowire="byName" />
	<bean id="rxCloneDao" class="oscar.oscarRx.dao.hibernate.RxCloneFavoritesDAOHibernate" autowire="byName" />
	<bean id="providerInboxRoutingDAO" class="org.oscarehr.common.dao.ProviderInboxRoutingDao" autowire="byName"/>

        <bean id="queueDocumentLinkDAO" class="org.oscarehr.common.dao.QueueDocumentLinkDao" autowire="byName"/>
	<bean id="integratorControlDao" class="oscar.facility.IntegratorControlDao" autowire="byName" />
	<bean id="appointmentDao" class="oscar.appt.AppointmentDao" autowire="byName" />

	<!-- Dao classes that implement OscarSuperDao -->
	<bean id="appointmentSuperDao" class="oscar.dao.AppointmentDao" autowire="byName" />
	<bean id="receptionistSuperDao" class="oscar.dao.ReceptionistDao" autowire="byName" />
	<bean id="providerSuperDao" class="oscar.dao.ProviderDao" autowire="byName" />
	<bean id="adminSuperDao" class="oscar.dao.AdminDao" autowire="byName" />

	<!-- OSCAR Desicion Support -->
	<bean id="dsService" class="org.oscarehr.decisionSupport.service.DSServiceMyDrugref">
		<property name="dsGuidelineDAO">
			<ref bean="dsGuidelineDAO"/>
		</property>
		<property name="userPropertyDAO">
			<ref bean="UserPropertyDAO"/>
		</property>
	</bean>
	<bean id="dsGuidelineDAO" class="org.oscarehr.decisionSupport.dao.DSGuidelineDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!--Container for holding preventions -->
	<bean id="preventionMgr" class="org.oscarehr.provider.model.PreventionManager"></bean>

	<!-- OcanDataProcessor is used to create the OCAN xml submission file based on intake data -->
	<bean id="ocanDataProcessor" class="oscar.ocan.service.OcanDataProcessor">
		<property name="serviceOrganizationNumber" value="1001" />
		<property name="submissionFileLocation" value="C:/TEMP/ocan_test" />
	</bean>

	<!-- OscarSuperManager manager provides business logic facade for jsp layer -->
	<bean id="oscarSuperManager" class="oscar.service.OscarSuperManager" autowire="byName" init-method="init"/>

	<bean id="scratchPadManager" class="com.quatro.service.ScratchPadManager">
		<property name="scratchPadDao" ref="scratchPadDao" />
	</bean>
	<bean id="lookupManager" class="com.quatro.service.LookupManager" autowire="byName">
		<property name="lookupDao" ref="lookupDao" />
	</bean>
	<bean id="userAccessManager" class="com.quatro.service.security.UserAccessManager" autowire="byName">
		<property name="userAccessDao" ref="userAccessDao" />
	</bean>

	<!-- configure the available measurement flow sheets -->
	<bean id="measurementTemplateFlowSheet" class="oscar.oscarEncounter.oscarMeasurements.MeasurementTemplateFlowSheetConfig">
		<property name="flowSheets">
			<list>
				<!--value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/diabetesFlowsheet.xml</value-->
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/hypertensionFlowsheet.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/hivFlowsheet.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/inrFlowsheet.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/omdChf.xml</value>
				<!--value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/inrFlowsheet2.xml</value-->


				<!--<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/physicalFunctionFlowsheet.xml</value >				
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/omdAsthmaFlowsheet.xml</value >
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/omdCOPDFlowsheet.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/omdChf.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/omdHypertensionFlowsheet.xml</value-->
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/omdDiabetesFlowsheet.xml</value>

			</list>
		</property>
	</bean>

	<!-- managers  -->
	<bean id="agencyManager" class="org.oscarehr.PMmodule.service.AgencyManager" autowire="byName" />
	<bean id="facilityMessageManager" class="org.caisi.service.FacilityMessageManager">
		<property name="facilityMessageDAO" ref="facilityMessageDAO" />
	</bean>

	<!-- Manager classes -->
	<bean id="programQueueManager" class="org.oscarehr.PMmodule.service.ProgramQueueManager" autowire="byName" />
	<bean id="admissionManager" class="org.oscarehr.PMmodule.service.AdmissionManager" autowire="byName" />
	<bean id="bedDemographicManager" class="org.oscarehr.PMmodule.service.impl.BedDemographicManagerImpl">
		<property name="bedDemographicDao" ref="bedDemographicDao" />
		<property name="providerDAO" ref="providerDao" />
		<property name="bedDAO" ref="bedDAO" />
		<property name="demographicDao" ref="clientDao" />
		<property name="roomDAO" ref="roomDAO" />
		<property name="programDAO" ref="programDao" />
	</bean>
	<bean id="roomDemographicManager" class="org.oscarehr.PMmodule.service.impl.RoomDemographicManagerImpl" autowire="byName" />
	<bean id="roomManager" class="org.oscarehr.PMmodule.service.RoomManager" autowire="byName" />
	<bean id="bedManager" class="org.oscarehr.PMmodule.service.BedManager" autowire="byName" />
	<bean id="caseManagementManager" class="org.oscarehr.casemgmt.service.CaseManagementManager">
		<property name="caseManagementNoteDAO" ref="CaseManagementNoteDAO" />
		<property name="caseManagementNoteExtDAO" ref="CaseManagementNoteExtDAO" />
		<property name="caseManagementNoteLinkDAO" ref="CaseManagementNoteLinkDAO" />
		<property name="caseManagementIssueDAO" ref="CaseManagementIssueDAO" />
		<property name="caseManagementCPPDAO" ref="CaseManagementCPPDAO" />
		<property name="allergyDAO" ref="AllergyDAO" />
		<property name="prescriptionDAO" ref="prescriptionDAO" />
		<property name="issueDAO" ref="IssueDAO" />
		<property name="messagetblDAO" ref="MessagetblDAO" />
		<property name="echartDAO" ref="EchartDAO" />
		<property name="providerSignitureDao" ref="ProviderSignitureDao" />
		<property name="providerDAO" ref="providerDao" />
		<property name="demographicDao" ref="clientDao" />
		<property name="roleProgramAccessDAO" ref="RoleProgramAccessDAO" />
		<property name="hashAuditDAO" ref="HashAuditDAO" />
		<property name="ectWindowDAO" ref="EncounterWindowDAO" />
		<property name="userPropertyDAO" ref="UserPropertyDAO" />
		<property name="rolesManager" ref="rolesManager" />
		<property name="caseManagementTmpSaveDAO" ref="CaseManagementTmpSaveDAO" />
		<property name="admissionManager" ref="admissionManager" />
		<property name="enabled" value="${casemgmt.note.password.enabled}" />
		<property name="programManager" ref="programManager" />
		<property name="dxResearchDAO" ref="dxResearchDao" />
		<property name="programProviderDao" ref="programProviderDAO" />
		<property name="programAccessDAO" ref="programAccessDAO" />
	</bean>
	<!--
	<bean id="roleManager" class="org.oscarehr.PMmodule.service.impl.RoleManagerImpl">
		<property name="roleDAO" ref="roleDAO" />
	</bean>
	-->
	<bean id="ticklerManager" class="org.oscarehr.casemgmt.service.TicklerManager" autowire="byName">

	</bean>
	<bean id="ClientImageManager" class="org.oscarehr.casemgmt.service.ClientImageManager" autowire="byName" />
	<bean id="oscarSurveyManager" class="org.oscarehr.PMmodule.service.impl.SurveyManagerImpl">
		<property name="surveyDAO" ref="oscarSurveyDAO" />
	</bean>
	<bean id="programManager" class="org.oscarehr.PMmodule.service.ProgramManager" autowire="byName">
		<property name="enabled" value="${pmm.refer.temporaryAdmission.enabled}" />
	</bean>
	<bean id="clientManager" class="org.oscarehr.PMmodule.service.ClientManager">
		<property name="clientDao" ref="clientDao" />
		<property name="clientReferralDAO" ref="clientReferralDAO" />
		<property name="jointAdmissionDAO" ref="jointAdmissionDAO" />
		<property name="programQueueManager" ref="programQueueManager" />
		<property name="admissionManager" ref="admissionManager" />
		<property name="clientRestrictionManager" ref="clientRestrictionManager" />
		<property name="outsideOfDomainEnabled" value="${pmm.client.search.outside.of.domain.enabled}" />
	</bean>
	<bean id="infirmBedProgramManager" class="org.caisi.service.InfirmBedProgramManager" autowire="byName">
		<property name="programProviderDAOT" ref="programProviderDAO" />
		<property name="demographicDao" ref="demographicDao" />
	</bean>

	<!-- TicklerPlus managers -->
	<bean id="ticklerManagerT" class="org.caisi.service.TicklerManager">
		<property name="ticklerDAO" ref="ticklerDAOT" />
		<property name="customFilterDAO" ref="customFilterDAOT" />
		<property name="programManager" ref="programManager" />
		<property name="caseManagementManager" ref="caseManagementManager" />
		<property name="programAccessDAO" ref="programAccessDAO" />
		<property name="programProviderDAO" ref="programProviderDAO" />
	</bean>
 	<bean id="demographicManagerT" class="org.caisi.service.DemographicManagerTickler">
		<property name="demographicDao" ref="demographicDao" />
	</bean>
	<bean id="preparedTicklerManagerT" class="org.caisi.tickler.prepared.PreparedTicklerManager" scope="singleton" />
	<bean id="consultationManager" class="org.caisi.service.ConsultationManager">
		<property name="consultationDAO" ref="consultationDAOT" />
	</bean>
	<bean id="chartManagerT" class="org.caisi.service.EChartManager">
		<property name="chartDAO" ref="chartDAOT" />
	</bean>
	<bean id="providerManager" class="org.oscarehr.PMmodule.service.ProviderManager" autowire="byName" />
	<bean id="clientRestrictionManager" class="org.oscarehr.PMmodule.service.ClientRestrictionManager" autowire="byName" />
	<bean id="AppointmentStatusMgr" class="oscar.appt.status.service.impl.AppointmentStatusMgrImpl">
		<property name="appointStatusDao">
			<ref local="appointStatusDao" />
		</property>
	</bean>

	<!-- Admin Start -->
	<bean id="orgDao" class="com.quatro.dao.ORGDao" autowire="byName" />
	<bean id="secobjprivilegeDao" class="com.quatro.dao.security.SecobjprivilegeDao" autowire="byName" />
	<bean id="securityDao" class="com.quatro.dao.security.SecurityDao" autowire="byName" />
	<bean id="secProviderDao" class="com.quatro.dao.security.SecProviderDao" autowire="byName" />
	<bean id="secuserroleDao" class="com.quatro.dao.security.SecuserroleDao" autowire="byName" />
        <bean id="secObjectNameDao" class="com.quatro.dao.security.SecObjectNameDao" autowire="byName"/>

	<bean id="orgManager" class="com.quatro.service.ORGManager" autowire="byName">
		<property name="orgDao" ref="orgDao" />
	</bean>
	<bean id="rolesManager" class="com.quatro.service.security.RolesManager" autowire="byName">
		<property name="secroleDao" ref="secroleDao" />
		<property name="secobjprivilegeDao" ref="secobjprivilegeDao" />
	</bean>

	<bean id="usersManager" class="com.quatro.service.security.UsersManager" autowire="byName"/>
	<bean id="onCallManager" class="org.oscarehr.casemgmt.service.OnCallManager">
		<property name="onCallDao" ref="OnCallDAO" />
	</bean>
	<bean id="RxPrescriptionMgr" class="oscar.oscarRx.service.impl.RxPrescriptionMgrImpl">
		<property name="rxCloneDao">
			<ref local="rxCloneDao" />
		</property>
	</bean>
</beans>
