<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
        default-autowire="no">

    <!-- load properties from additional property files; oscar.properties is already loaded -->
    <bean id="propertyConfigurer" class="org.oscarehr.common.OscarPropertyPlaceholderConfigurer" lazy-init="default"
          autowire="default" dependency-check="default">
        <property name="locations">
            <list>
                <value>/WEB-INF/classes/oscar_mcmaster.properties</value>
            </list>
        </property>
    </bean>

    <!-- data source configuration -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" lazy-init="default"
          autowire="default" dependency-check="default">
        <property name="driverClassName" value="${db_driver}"/>
        <property name="url" value="${db_uri}${db_name}"/>
        <property name="username" value="${db_username}"/>
        <property name="password" value="${db_password}"/>
        <property name="maxActive" value="100"/>

        <property name="testOnBorrow" value="true" />
		<property name="validationQuery" value="${db_validationQuery}" />
		<property name="maxWait" value="4000" />

    </bean>


    <!-- hibernate session factory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean" lazy-init="default"
          autowire="default" dependency-check="default">
        <property name="dataSource" ref="dataSource"/>
        <property name="entityInterceptor" ref="auditInterceptor"/>
        <property name="mappingDirectoryLocations">
            <!-- only *.hbm.xml will be loaded -->
            <list>
                <value>classpath:/org/caisi/model</value>
                <value>classpath:/org/oscarehr/PMmodule/model</value>
                <value>classpath:/org/oscarehr/survey/model</value>
                <value>classpath:/org/oscarehr/casemgmt/model</value>
                <value>classpath:/org/oscarehr/phr/model</value>
                <value>classpath:/org/oscarehr/common/model</value>
                <value>classpath:/com/quatro/model</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.generate_statistics">${hibernate.generate_statistics}</prop>
				<prop key="hibernate.cache.use_second_level_cache">false</prop>
				<prop key="hibernate.cache.use_query_cache">false</prop>
            </props>
        </property>
        <property name="eventListeners">
            <map>
                <entry key="merge">
                    <bean class="org.springframework.orm.hibernate3.support.IdTransferringMergeEventListener"
                          lazy-init="default" autowire="default" dependency-check="default"/>
                </entry>
            </map>
        </property>
    </bean>


    <bean id="auditInterceptor" class="org.oscarehr.common.dao.AuditInterceptor" lazy-init="default"
          autowire="default" dependency-check="default"/>

    <bean id="auditSessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"
          lazy-init="default" autowire="default" dependency-check="default">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingDirectoryLocations">
            <!-- only *.hbm.xml will be loaded -->
            <list>
                <value>classpath:/org/caisi/model</value>
                <value>classpath:/org/oscarehr/PMmodule/model</value>
                <value>classpath:/org/oscarehr/survey/model</value>
                <value>classpath:/org/oscarehr/casemgmt/model</value>
                <value>classpath:/com/quatro/model</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.generate_statistics">${hibernate.generate_statistics}</prop>
            	<prop key="hibernate.cache.use_second_level_cache">false</prop>
				<prop key="hibernate.cache.use_query_cache">false</prop>
            </props>
        </property>
    </bean>

    <!-- Transaction manager for a single Hibernate SessionFactory (alternative to JTA) -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager"
          lazy-init="default" autowire="default" dependency-check="default">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="baseTransactionProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
          abstract="true" lazy-init="default" autowire="default" dependency-check="default">
        <property name="transactionManager" ref="transactionManager"/>
        <property name="transactionAttributes">
            <props>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>

    <!-- DAO -->
    <bean id="redirectLinkDao" class="org.caisi.dao.RedirectLinkDao" autowire="byName"/>
    <bean id="redirectLinkTrackingDao" class="org.caisi.dao.RedirectLinkTrackingDao" autowire="byName"/>
    <bean id="issueGroupDao" class="org.caisi.dao.IssueGroupDao" autowire="byName"/>
    <bean id="programDao" class="org.oscarehr.PMmodule.dao.ProgramDao" autowire="byName"/>
    <bean id="programQueueDao" class="org.oscarehr.PMmodule.dao.ProgramQueueDao" autowire="byName"/>
    <bean id="clientReferralDAO" class="org.oscarehr.PMmodule.dao.ClientReferralDAO" autowire="byName"/>
    <bean id="agencyDao" class="org.oscarehr.PMmodule.dao.AgencyDao" autowire="byName"/>
    <bean id="admissionDao" class="org.oscarehr.PMmodule.dao.AdmissionDao" autowire="byName" />
    <bean id="jointAdmissionDAO" class="org.oscarehr.PMmodule.dao.JointAdmissionDAO" autowire="byName" />
    <bean id="bedDemographicDAO" class="org.oscarehr.PMmodule.dao.BedDemographicDAO" autowire="byName"/>
    <bean id="roomDemographicDAO" class="org.oscarehr.PMmodule.dao.RoomDemographicDAO" autowire="byName"/>
    <bean id="providerDao" class="org.oscarehr.PMmodule.dao.ProviderDao" autowire="byName" />
    <bean id="bedDAO" class="org.oscarehr.PMmodule.dao.BedDAO" autowire="byName"/>
    <bean id="clientDao" class="org.oscarehr.PMmodule.dao.ClientDao" autowire="byName" />

    <bean id="topazDao" class="com.quatro.dao.TopazDao" autowire="byName" />

    <bean id="roomDAO" class="org.oscarehr.PMmodule.dao.RoomDAO" autowire="byName"/>
    <bean id="CaseManagementIssueDAO" class="org.oscarehr.casemgmt.dao.CaseManagementIssueDAO" autowire="byName"/>
    <bean id="caseManagementIssueDAO" class="org.oscarehr.casemgmt.dao.CaseManagementIssueDAO" autowire="byName"/>
    <bean id="CaseManagementNoteDAO" class="org.oscarehr.casemgmt.dao.CaseManagementNoteDAO" autowire="byName"/>
    <bean id="CaseManagementCPPDAO" class="org.oscarehr.casemgmt.dao.CaseManagementCPPDAO" autowire="byName"/>
    <bean id="AllergyDAO" class="org.oscarehr.casemgmt.dao.AllergyDAO" autowire="byName"/>
    <bean id="PrescriptionDAO" class="org.oscarehr.casemgmt.dao.PrescriptionDAO" autowire="byName"/>
    <bean id="IssueDAO" class="org.oscarehr.casemgmt.dao.IssueDAO" autowire="byName"/>
    <bean id="EncounterFormDAO" class="org.oscarehr.casemgmt.dao.EncounterFormDAO" autowire="byName"/>
    <bean id="EchartDAO" class="org.oscarehr.casemgmt.dao.EchartDAO" autowire="byName"/>
    <bean id="ApptDAO" class="org.oscarehr.casemgmt.dao.ApptDAO" autowire="byName"/>
    <bean id="MessagetblDAO" class="org.oscarehr.casemgmt.dao.MessagetblDAO" autowire="byName"/>
    <bean id="ProviderSignitureDao" class="org.oscarehr.casemgmt.dao.ProviderSignitureDao" autowire="byName"/>
    <bean id="RoleProgramAccessDAO" class="org.oscarehr.casemgmt.dao.RoleProgramAccessDAO" autowire="byName"/>
    <bean id="ClientImageDAO" class="org.oscarehr.casemgmt.dao.ClientImageDAO" autowire="byName"/>
    <bean id="roleDAO" class="org.oscarehr.PMmodule.dao.RoleDAO" autowire="byName" />
    <bean id="CaseManagementTmpSaveDAO" class="org.oscarehr.casemgmt.dao.CaseManagementTmpSaveDAO" autowire="byName"/>
    <bean id="ticklerDAO" class="org.oscarehr.casemgmt.dao.TicklerDAO" autowire="byName"/>
    <bean id="oscarSurveyDAO" class="org.oscarehr.PMmodule.dao.SurveyDAO" autowire="byName"/>
    <bean id="programProviderDAO" class="org.oscarehr.PMmodule.dao.ProgramProviderDAO" autowire="byName"/>
    <bean id="programFunctionalUserDAO" class="org.oscarehr.PMmodule.dao.ProgramFunctionalUserDAO" autowire="byName"/>
    <bean id="programAccessDAO" class="org.oscarehr.PMmodule.dao.ProgramAccessDAO" autowire="byName"/>
    <bean id="defaultRoleAccessDAO" class="org.oscarehr.PMmodule.dao.DefaultRoleAccessDAO" autowire="byName"/>
    <bean id="programClientStatusDAO" class="org.oscarehr.PMmodule.dao.ProgramClientStatusDAO" autowire="byName"/>
    <bean id="programTeamDAO" class="org.oscarehr.PMmodule.dao.ProgramTeamDAO" autowire="byName"/>
    <bean id="providerDefaultProgramDao" class="org.caisi.dao.ProviderDefaultProgramDao" autowire="byName"/>
    <bean id="bedProgramDao" class="org.caisi.dao.BedProgramDao" autowire="byName"/>
    <bean id="demographicDAOT" class="org.caisi.dao.DemographicDAO" autowire="byName"/>
    <bean id="oscarSecurityDAO" class="org.oscarehr.PMmodule.dao.OscarSecurityDAO" autowire="byName"/>
    <bean id="programSignatureDao" class="org.oscarehr.PMmodule.dao.ProgramSignatureDao" autowire="byName"/>
    <bean id="consultationDAOT" class="org.caisi.dao.ConsultationDAO" autowire="byName" />
    <bean id="chartDAOT" class="org.caisi.dao.EChartDAO" autowire="byName" />
    <bean id="ticklerDAOT" class="org.caisi.dao.TicklerDAO" autowire="byName"/>
    <bean id="customFilterDAOT" class="org.caisi.dao.CustomFilterDAO" autowire="byName"/>
    <bean id="systemMessageDAO" class="org.caisi.dao.SystemMessageDAO" autowire="byName"/>
    <bean id="HashAuditDAO" class="org.oscarehr.casemgmt.dao.HashAuditDAO" autowire="byName"/>
    <bean id="programClientRestrictionDAO" class="org.oscarehr.PMmodule.dao.ProgramClientRestrictionDAO" autowire="byName"/>
    <bean id="EncounterWindowDAO" class="org.oscarehr.casemgmt.dao.EncounterWindowDAO" autowire="byName" />
    <bean id="UserPropertyDAO" class="org.oscarehr.common.dao.UserPropertyDAO" autowire="byName" />
    <bean id="UserDSMessagePrefsDAO" class="org.oscarehr.common.dao.UserDSMessagePrefsDAO" autowire="byName" />
	<bean id="facilityDAO" class="org.oscarehr.PMmodule.dao.FacilityDAO" autowire="byName"/>
	<bean id="facilityMessageDAO" class="org.caisi.dao.FacilityMessageDAO" autowire="byName"/>
	<bean id="caisiEditorDAO" class="org.caisi.dao.CaisiEditorDAO" autowire="byName" />	
	<!--  configure the scratch pad -->
    <bean id="scratchPadDao" class="com.quatro.dao.ScratchPadDao" autowire="byName" />
    <bean id="lookupDao" class="com.quatro.dao.LookupDao" autowire="byName" />
    <bean id="userAccessDao" class="com.quatro.dao.security.UserAccessDao" autowire="byName" />

    <bean id="scratchPadManager" parent="baseTransactionProxy" lazy-init="default" dependency-check="default">
        <property name="target" ref="scratchPadManagerTarget"/>
    </bean>
    <bean id="scratchPadManagerTarget" class="com.quatro.service.ScratchPadManager">
       <property name="scratchPadDao" ref="scratchPadDao"/>
    </bean>
    <bean id="lookupManager" class="com.quatro.service.LookupManager"  autowire="byName">
        <property name="lookupDao" ref="lookupDao"/>
    </bean>
    <bean id="userAccessManager" class="com.quatro.service.security.UserAccessManager" autowire="byName">
        <property name="userAccessDao" ref="userAccessDao"/>
    </bean>

    <!-- configure the available measurement flow sheets -->
    <bean id="measurementTemplateFlowSheet" class="oscar.oscarEncounter.oscarMeasurements.MeasurementTemplateFlowSheetConfig">
        <property name="flowSheets">
            <list>
                <value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/diabetesFlowsheet.xml</value>
                <value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/hypertensionFlowsheet.xml</value>
                <value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/hivFlowsheet.xml</value>
            </list>
        </property>
    </bean>

    <!-- managers  -->
    <bean id="caisiEditorManager" parent="baseTransactionProxy" lazy-init="default"
          dependency-check="default">
        <property name="target">
            <bean class="org.caisi.service.CaisiEditorManager" autowire="byName"/>
        </property>
    </bean>
    
    <bean id="facilityManager" parent="baseTransactionProxy">
        <property name="target">
            <bean class="org.oscarehr.PMmodule.service.FacilityManager" autowire="byName" />            
        </property>
    </bean>
    
    <bean id="agencyManager" parent="baseTransactionProxy" lazy-init="default"
          dependency-check="default">
        <property name="target">
            <bean class="org.oscarehr.PMmodule.service.AgencyManager" autowire="byName"/>
        </property>
    </bean>
    
    <bean id="systemMessageManager" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
          lazy-init="default"  dependency-check="default">
        <property name="transactionManager" ref="transactionManager"/>       
        <property name="target" ref="systemMessageManagerTarget"/>
        <property name="transactionAttributes">
            <props>
                <prop key="save*">PROPAGATION_REQUIRED</prop>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>
    <!-- 
    <bean id="systemMessageManagerTarget" class="org.caisi.service.SystemMessageManager" autowire="byName"/>
     -->
    <bean id="systemMessageManagerTarget" class="org.caisi.service.SystemMessageManager" lazy-init="default"
          autowire="default" dependency-check="default">
        <property name="systemMessageDAO" ref="systemMessageDAO"/>
    </bean>
   
	<bean id="facilityMessageManager" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
          lazy-init="default"  dependency-check="default">
        <property name="transactionManager" ref="transactionManager"/>       
        <property name="target" ref="facilityMessageManagerTarget"/>
        <property name="transactionAttributes">
            <props>
                <prop key="save*">PROPAGATION_REQUIRED</prop>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>
    
    <bean id="facilityMessageManagerTarget" class="org.caisi.service.FacilityMessageManager" lazy-init="default"
          autowire="default" dependency-check="default">
        <property name="facilityMessageDAO" ref="facilityMessageDAO"/>
    </bean>

    <!-- Manager classes -->
    <bean id="programQueueManager" parent="baseTransactionProxy">
        <property name="target">
            <bean class="org.oscarehr.PMmodule.service.impl.ProgramQueueManagerImpl">
                <property name="programQueueDao" ref="programQueueDao"/>
                <property name="clientReferralDAO" ref="clientReferralDAO"/>
            </bean>
        </property>
    </bean>
    <bean id="admissionManager" parent="baseTransactionProxy" autowire="byName">
        <property name="target">
            <bean class="org.oscarehr.PMmodule.service.AdmissionManager" autowire="byName" />
        </property>
    </bean>
    <bean id="bedDemographicManager" parent="baseTransactionProxy">
        <property name="target">
            <bean class="org.oscarehr.PMmodule.service.impl.BedDemographicManagerImpl">
                <property name="bedDemographicDAO" ref="bedDemographicDAO"/>
                <property name="providerDAO" ref="providerDao"/>
                <property name="bedDAO" ref="bedDAO"/>
                <property name="demographicDAO" ref="clientDao"/>
                <property name="roomDAO" ref="roomDAO"/>
                <property name="programDAO" ref="programDao"/>
            </bean>
        </property>
    </bean>
    <bean id="roomDemographicManager" parent="baseTransactionProxy">
        <property name="target">
            <bean class="org.oscarehr.PMmodule.service.impl.RoomDemographicManagerImpl" autowire="byName" />
        </property>
    </bean>
    <bean id="roomManager" parent="baseTransactionProxy" lazy-init="default"
          dependency-check="default">
        <property name="target">
            <bean class="org.oscarehr.PMmodule.service.RoomManager" autowire="byName"/>
        </property>
    </bean>
    <bean id="bedManager" parent="baseTransactionProxy" lazy-init="default"
          dependency-check="default">
        <property name="target">
            <bean class="org.oscarehr.PMmodule.service.BedManager" autowire="byName"/>
        </property>
    </bean>
    <bean id="caseManagementManager" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager" ref="transactionManager"/>
        <property name="target" ref="caseManagementManagerTarget"/>
        <property name="transactionAttributes">
            <props>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>
    <bean id="caseManagementManagerTarget" class="org.oscarehr.casemgmt.service.CaseManagementManager">
        <property name="caseManagementNoteDAO" ref="CaseManagementNoteDAO"/>
        <property name="caseManagementIssueDAO" ref="CaseManagementIssueDAO"/>
        <property name="caseManagementCPPDAO" ref="CaseManagementCPPDAO"/>
        <property name="allergyDAO" ref="AllergyDAO"/>
        <property name="prescriptionDAO" ref="PrescriptionDAO"/>
        <property name="issueDAO" ref="IssueDAO"/>
        <property name="encounterFormDAO" ref="EncounterFormDAO"/>
        <property name="messagetblDAO" ref="MessagetblDAO"/>
        <property name="echartDAO" ref="EchartDAO"/>
        <property name="apptDAO" ref="ApptDAO"/>
        <property name="providerSignitureDao" ref="ProviderSignitureDao"/>
        <property name="providerDAO" ref="providerDao"/>
        <property name="demographicDAO" ref="clientDao"/>
        <property name="roleProgramAccessDAO" ref="RoleProgramAccessDAO"/>
        <property name="clientImageDAO" ref="ClientImageDAO"/>
        <property name="hashAuditDAO" ref="HashAuditDAO"/>
        <property name="ectWindowDAO" ref="EncounterWindowDAO"/>
        <property name="userPropertyDAO" ref="UserPropertyDAO"/>
        <property name="roleManager" ref="roleManager"/>
        <property name="caseManagementTmpSaveDAO" ref="CaseManagementTmpSaveDAO"/>
        <property name="admissionManager" ref="admissionManager"/>
        <property name="enabled" value="${casemgmt.note.password.enabled}"/>
        <property name="programManager" ref="programManager"/>
    </bean>
    <bean id="roleManager" parent="baseTransactionProxy" >
        <property name="target">
            <bean class="org.oscarehr.PMmodule.service.impl.RoleManagerImpl">
                <property name="roleDAO" ref="roleDAO"/>
            </bean>
        </property>
    </bean>
    <bean id="ticklerManager" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager" ref="transactionManager"/>
        <property name="target" ref="ticklerManagerTarget"/>
        <property name="transactionAttributes">
            <props>
                <prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
            </props>
        </property>
    </bean>
    <bean id="ticklerManagerTarget" class="org.oscarehr.casemgmt.service.TicklerManager" autowire="byName" > 
    	
    </bean>
    <bean id="ClientImageManager" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager" ref="transactionManager"/>
        <property name="target" ref="ClientImageManagerTarget"/>
        <property name="transactionAttributes">
            <props>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>
    <bean id="ClientImageManagerTarget" class="org.oscarehr.casemgmt.service.ClientImageManager"  autowire="byName" >
        <property name="clientImageDAO" ref="ClientImageDAO"/>
    </bean>
    <bean id="oscarSurveyManager" parent="baseTransactionProxy">
        <property name="target">
            <bean class="org.oscarehr.PMmodule.service.impl.SurveyManagerImpl">
                <property name="surveyDAO" ref="oscarSurveyDAO"/>
            </bean>
        </property>
    </bean>
    <bean id="programManager" parent="baseTransactionProxy">
        <property name="target">
            <bean class="org.oscarehr.PMmodule.service.ProgramManager" autowire="byName">
                <property name="enabled" value="${pmm.refer.temporaryAdmission.enabled}"/>
            </bean>
        </property>
    </bean>
    <bean id="clientManager" parent="baseTransactionProxy">
        <property name="target">
            <bean class="org.oscarehr.PMmodule.service.ClientManager">
                <property name="clientDao" ref="clientDao"/>
                <property name="clientReferralDAO" ref="clientReferralDAO"/>
                <property name="jointAdmissionDAO" ref="jointAdmissionDAO"/>
                <property name="programQueueManager" ref="programQueueManager"/>
                <property name="admissionManager" ref="admissionManager"/>
                <property name="clientRestrictionManager" ref="clientRestrictionManager"/>
                <property name="outsideOfDomainEnabled" value="${pmm.client.search.outside.of.domain.enabled}"/>
            	
            </bean>
        </property>
    </bean>

    <bean id="topazManager" parent="baseTransactionProxy">
        <property name="target">
            <bean class="com.quatro.service.TopazManager">
                <property name="topazDao" ref="topazDao"/>
            </bean>
        </property>
    </bean>
 
    <bean id="integratorManager" class="org.oscarehr.PMmodule.service.IntegratorManager" autowire="byName" />
    <bean id="infirmBedProgramManager" parent="baseTransactionProxy">
        <property name="target">
            <bean class="org.caisi.service.InfirmBedProgramManager" autowire="byName">
                <property name="programProviderDAOT" ref="programProviderDAO"/>
                <property name="demographicDao" ref="demographicDAOT"/>
            </bean>
        </property>
    </bean>

    <!-- TicklerPlus managers -->
    <bean id="ticklerManagerT" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager" ref="transactionManager"/>
        <property name="target" ref="ticklerManagerTargetT"/>
        <property name="transactionAttributes">
            <props>
                <prop key="save*">PROPAGATION_REQUIRED</prop>
                <prop key="remove*">PROPAGATION_REQUIRED</prop>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>
    <bean id="ticklerManagerTargetT" class="org.caisi.service.TicklerManager">
        <property name="ticklerDAO" ref="ticklerDAOT"/>
        <property name="customFilterDAO" ref="customFilterDAOT"/>
        <property name="programManager" ref="programManager"/>
        <property name="caseManagementManager" ref="caseManagementManager"/>
        <property name="roleProgramAccessDAO" ref="RoleProgramAccessDAO"/>
    </bean>

    <bean id="demographicManagerT" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager" ref="transactionManager"/>
        <property name="target" ref="demographicManagerTarget"/>
        <property name="transactionAttributes">
            <props>
                <prop key="save*">PROPAGATION_REQUIRED</prop>
                <prop key="remove*">PROPAGATION_REQUIRED</prop>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>
    <bean id="demographicManagerTarget" class="org.caisi.service.DemographicManagerTickler">
        <property name="demographicDAO" ref="demographicDAOT"/>
    </bean>
    <bean id="preparedTicklerManagerT" class="org.caisi.tickler.prepared.PreparedTicklerManager" scope="singleton"/>
    <bean id="consultationManager" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager" ref="transactionManager"/>
        <property name="target" ref="consultationManagerTarget"/>
        <property name="transactionAttributes">
            <props>
                <prop key="save*">PROPAGATION_REQUIRED</prop>
                <prop key="remove*">PROPAGATION_REQUIRED</prop>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>

    <bean id="consultationManagerTarget" class="org.caisi.service.ConsultationManager">
        <property name="consultationDAO" ref="consultationDAOT"/>
    </bean>
    <bean id="chartManagerT" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager" ref="transactionManager"/>
        <property name="target" ref="chartManagerTarget"/>
        <property name="transactionAttributes">
            <props>
                <prop key="save*">PROPAGATION_REQUIRED</prop>
                <prop key="remove*">PROPAGATION_REQUIRED</prop>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>
    <bean id="chartManagerTarget" class="org.caisi.service.EChartManager">
        <property name="chartDAO" ref="chartDAOT"/>
    </bean>
    <bean id="providerManager" parent="baseTransactionProxy">
        <property name="target">
            <bean class="org.oscarehr.PMmodule.service.ProviderManager">
                <property name="providerDao" ref="providerDao"/>
                <property name="agencyDAO" ref="agencyDao"/>
                <property name="programProviderDAO" ref="programProviderDAO"/>
                <property name="oscarSecurityDAO" ref="oscarSecurityDAO"/>
            </bean>
        </property>
    </bean>
    <bean id="clientRestrictionManager" parent="baseTransactionProxy">
        <property name="target">
            <bean class="org.oscarehr.PMmodule.service.ClientRestrictionManager" autowire="byName"/>
        </property>
    </bean>

    <bean id="version" class="org.caisi.service.Version">
        <property name="version" value="3.1.0"/>
    </bean>
</beans>
