<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
        default-autowire="no">

    <bean id="bedAuditStrategy" class="org.oscarehr.PMmodule.dao.hibernate.BedAuditStrategy" lazy-init="default"
           dependency-check="default">
        <property name="sessionFactory" ref="auditSessionFactory"/>
    </bean>
    <bean id="bedDemographicAuditStrategy" class="org.oscarehr.PMmodule.dao.hibernate.BedDemographicAuditStrategy"
          lazy-init="default"  dependency-check="default">
        <property name="sessionFactory" ref="auditSessionFactory"/>
    </bean>
    <bean id="roomAuditStrategy" class="org.oscarehr.PMmodule.dao.hibernate.RoomAuditStrategy" lazy-init="default"
           dependency-check="default">
        <property name="sessionFactory" ref="auditSessionFactory"/>
    </bean>
    <!-- DAO -->
    <bean id="systemMessageDAO" class="org.caisi.dao.SystemMessageDAO" lazy-init="default"
          dependency-check="default">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="issueAdminDAO" class="org.caisi.dao.hibernate.IssueAdminDAOHibernate" lazy-init="default"
           dependency-check="default">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="caisiRoleDAO" class="org.caisi.dao.CaisiRoleDAO" lazy-init="default"
          dependency-check="default">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="accessTypeDAO" class="org.caisi.dao.jdbc.AccessTypeDAOJdbc" lazy-init="default"
          dependency-check="default">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="programSignatureDao" class="org.oscarehr.PMmodule.dao.hibernate.ProgramSignatureDaoHibernate"
          lazy-init="default"  dependency-check="default">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="bedCheckTimeDAO" class="org.oscarehr.PMmodule.dao.hibernate.BedCheckTimeDAOHibernate" lazy-init="default"
           dependency-check="default">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="ratePageDao" class="org.oscarehr.PMmodule.dao.hibernate.HibernateRatePageDao" lazy-init="default"
           dependency-check="default">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!-- Generic Intake -->
    <bean id="genericIntakeNodeDAO" class="org.oscarehr.PMmodule.dao.hibernate.GenericIntakeNodeDAOHibernate"
          lazy-init="default"  dependency-check="default">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="genericIntakeDAO" class="org.oscarehr.PMmodule.dao.hibernate.GenericIntakeDAOHibernate"
          lazy-init="default"  dependency-check="default">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="intakeADao" class="org.oscarehr.PMmodule.dao.hibernate.IntakeADaoHibernate" lazy-init="default"
           dependency-check="default">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="intakeCDao" class="org.oscarehr.PMmodule.dao.hibernate.IntakeCDaoHibernate" lazy-init="default"
           dependency-check="default">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!-- Generic Intake -->
    <bean id="consentDao" class="org.oscarehr.PMmodule.dao.hibernate.ConsentDAOHibernate" lazy-init="default"
           dependency-check="default">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="logDAO" class="org.oscarehr.PMmodule.dao.hibernate.LogDAOHibernate" lazy-init="default"
          dependency-check="default">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="oscarSecurityDAO" class="org.oscarehr.PMmodule.dao.hibernate.OscarSecurityDAOHibernate"
          lazy-init="default"  dependency-check="default">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="formsDAO" class="org.oscarehr.PMmodule.dao.hibernate.FormsDAOHibernate" lazy-init="default"
           dependency-check="default">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="surveyDAO" class="org.oscarehr.survey.dao.hibernate.SurveyDAOHibernate" lazy-init="default"
           dependency-check="default">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="surveyTestDAO" class="org.oscarehr.survey.dao.hibernate.SurveyTestDAOHibernate" lazy-init="default"
           dependency-check="default">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="oscarFormDAO" class="org.oscarehr.survey.dao.oscar.hibernate.OscarFormDAOHibernate" lazy-init="default"
           dependency-check="default">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="populationReportDAO" class="org.oscarehr.common.dao.PopulationReportDAO" lazy-init="default"
           dependency-check="default">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- managers  -->
    <bean id="systemMessageManager" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
          lazy-init="default"  dependency-check="default">
        <property name="transactionManager" ref="transactionManager"/>
        <property name="target" ref="systemMessageManagerTarget"/>
        <property name="transactionAttributes">
            <props>
                <prop key="save*">PROPAGATION_REQUIRED</prop>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>
    <bean id="systemMessageManagerTarget" class="org.caisi.service.SystemMessageManager" lazy-init="default"
           dependency-check="default">
        <property name="systemMessageDAO" ref="systemMessageDAO"/>
    </bean>
    <bean id="issueAdminManager" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
          lazy-init="default"  dependency-check="default">
        <property name="transactionManager" ref="transactionManager"/>
        <property name="target" ref="issueAdminManagerTarget"/>
        <property name="transactionAttributes">
            <props>
                <prop key="save*">PROPAGATION_REQUIRED</prop>
                <prop key="remove*">PROPAGATION_REQUIRED</prop>
                <prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
            </props>
        </property>
    </bean>
    <bean id="issueAdminManagerTarget" class="org.caisi.service.impl.IssueAdminManagerImpl" lazy-init="default"
           dependency-check="default">
        <property name="issueAdminDAO" ref="issueAdminDAO"/>
    </bean>
    <bean id="caisiRoleManager" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
          lazy-init="default"  dependency-check="default">
        <property name="transactionManager" ref="transactionManager"/>
        <property name="target" ref="caisiRoleManagerTarget"/>
        <property name="transactionAttributes">
            <props>
                <prop key="save*">PROPAGATION_REQUIRED</prop>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>
    <bean id="caisiRoleManagerTarget" class="org.caisi.service.impl.CaisiRoleManagerImpl" lazy-init="default"
           dependency-check="default">
        <property name="caisiRoleDAO" ref="caisiRoleDAO"/>
        <property name="providerDAO" ref="providerDao"/>
        <property name="accessTypeDAO" ref="accessTypeDAO"/>
    </bean>
    <bean id="roomManager" parent="baseTransactionProxy" lazy-init="default"
          dependency-check="default">
        <property name="target">
            <bean class="org.oscarehr.PMmodule.service.impl.RoomManagerImpl" lazy-init="default"
                  dependency-check="default">
                <property name="roomDAO" ref="roomDAO"/>
                <property name="programDAO" ref="programDao"/>
                <property name="bedDAO" ref="bedDAO"/>
            </bean>
        </property>
    </bean>
    <bean id="bedManager" parent="baseTransactionProxy" lazy-init="default"
          dependency-check="default">
        <property name="target">
            <bean class="org.oscarehr.PMmodule.service.impl.BedManagerImpl" lazy-init="default"
                  dependency-check="default">
                <property name="bedDAO" ref="bedDAO"/>
                <property name="roomDAO" ref="roomDAO"/>
                <property name="teamDAO" ref="programTeamDAO"/>
                <property name="bedDemographicManager" ref="bedDemographicManager"/>
            </bean>
        </property>
    </bean>
    <bean id="bedCheckTimeManager" parent="baseTransactionProxy" lazy-init="default"
          dependency-check="default">
        <property name="target">
            <bean class="org.oscarehr.PMmodule.service.impl.BedCheckTimeManagerImpl" lazy-init="default"
                   dependency-check="default">
                <property name="bedCheckTimeDAO" ref="bedCheckTimeDAO"/>
            </bean>
        </property>
    </bean>
    <bean id="ratePageManager" parent="baseTransactionProxy" lazy-init="default"
          dependency-check="default">
        <property name="target">
            <bean class="org.oscarehr.PMmodule.service.impl.RatePageManagerImpl" lazy-init="default"
                  dependency-check="default">
                <property name="ratePageDao" ref="ratePageDao"/>
            </bean>
        </property>
    </bean>
    <!-- Generic Intake -->
    <bean id="genericIntakeManager" parent="baseTransactionProxy" lazy-init="default"
          dependency-check="default">
        <property name="target">
            <bean class="org.oscarehr.PMmodule.service.impl.GenericIntakeManagerImpl" lazy-init="default"
                   dependency-check="default">
                <property name="genericIntakeNodeDAO" ref="genericIntakeNodeDAO"/>
                <property name="genericIntakeDAO" ref="genericIntakeDAO"/>
                <property name="programDAO" ref="programDao"/>
                <property name="admissionDAO" ref="admissionDao"/>
            </bean>
        </property>
    </bean>
    <bean id="intakeAManager" parent="baseTransactionProxy" lazy-init="default"
          dependency-check="default">
        <property name="target">
            <bean class="org.oscarehr.PMmodule.service.impl.IntakeAManagerImpl" lazy-init="default"
                  dependency-check="default">
                <property name="intakeADao" ref="intakeADao"/>
                <property name="clientDao" ref="clientDao"/>
                <property name="enabled" value="${intakea.enabled}"/>
                <property name="newClientForm" value="${intakea.newForm}"/>
            </bean>
        </property>
    </bean>
    <bean id="intakeCManager" parent="baseTransactionProxy" lazy-init="default"
          dependency-check="default">
        <property name="target">
            <bean class="org.oscarehr.PMmodule.service.impl.IntakeCManagerImpl" lazy-init="default"
                  dependency-check="default">
                <property name="intakeCDao" ref="intakeCDao"/>
                <property name="clientDao" ref="clientDao"/>
                <property name="enabled" value="${intakec.enabled}"/>
                <property name="newClientForm" value="${intakec.newForm}"/>
            </bean>
        </property>
    </bean>
    <!-- Generic Intake -->
    <bean id="consentManager" parent="baseTransactionProxy" lazy-init="default"
          dependency-check="default">
        <property name="target">
            <bean class="org.oscarehr.PMmodule.service.impl.ConsentManagerImpl" lazy-init="default"
                  dependency-check="default">
                <property name="consentDao" ref="consentDao"/>
                <property name="clientDao" ref="clientDao"/>
            </bean>
        </property>
    </bean>
    <bean id="agencyManager" parent="baseTransactionProxy" lazy-init="default"
          dependency-check="default">
        <property name="target">
            <bean class="org.oscarehr.PMmodule.service.impl.AgencyManagerImpl" lazy-init="default"
                  dependency-check="default">
                <property name="agencyDao" ref="agencyDao"/>
            </bean>
        </property>
    </bean>
    <bean id="logManager" parent="baseTransactionProxy" lazy-init="default"
          dependency-check="default">
        <property name="target">
            <bean class="org.oscarehr.PMmodule.service.LogManager" lazy-init="default"
                  dependency-check="default">
                <property name="logDAO" ref="logDAO"/>
            </bean>
        </property>
    </bean>
    <bean id="oscarSecurityManager" parent="baseTransactionProxy" lazy-init="default"
          dependency-check="default">
        <property name="target">
            <bean class="org.oscarehr.PMmodule.service.impl.OscarSecurityManagerImpl" lazy-init="default"
                   dependency-check="default">
                <property name="oscarSecurityDAO" ref="oscarSecurityDAO"/>
            </bean>
        </property>
    </bean>
    <bean id="formsManager" parent="baseTransactionProxy" lazy-init="default"
          dependency-check="default">
        <property name="target">
            <bean class="org.oscarehr.PMmodule.service.impl.FormsManagerImpl" lazy-init="default"
                  dependency-check="default">
                <property name="formsDAO" ref="formsDAO"/>
            </bean>
        </property>
    </bean>
    <bean id="surveyManager" parent="baseTransactionProxy" lazy-init="default"
          dependency-check="default">
        <property name="target">
            <bean class="org.oscarehr.survey.service.impl.SurveyManagerImpl" lazy-init="default"
                  dependency-check="default">
                <property name="surveyDAO" ref="surveyDAO"/>
            </bean>
        </property>
    </bean>
    <bean id="surveyTestManager" parent="baseTransactionProxy" lazy-init="default"
          dependency-check="default">
        <property name="target">
            <bean class="org.oscarehr.survey.service.impl.SurveyTestManagerImpl" lazy-init="default"
                  dependency-check="default">
                <property name="surveyTestDAO" ref="surveyTestDAO"/>
            </bean>
        </property>
    </bean>
    <bean id="surveyLaunchManager" parent="baseTransactionProxy" lazy-init="default"
          dependency-check="default">
        <property name="target">
            <bean class="org.oscarehr.survey.service.impl.SurveyLaunchManagerOscar" lazy-init="default"
                   dependency-check="default">
                <property name="oscarFormDAO" ref="oscarFormDAO"/>
            </bean>
        </property>
    </bean>
    <bean id="surveyUserManager" class="org.oscarehr.survey.service.impl.UserManagerOscar" lazy-init="default"
           dependency-check="default"/>
    <bean id="populationReportManager" parent="baseTransactionProxy" lazy-init="default"
          dependency-check="default">
        <property name="target">
            <bean class="org.oscarehr.common.service.impl.PopulationReportManagerImpl" lazy-init="default"
                   dependency-check="default">
                <property name="populationReportDAO" ref="populationReportDAO"/>
                <property name="issueDAO" ref="IssueDAO"/>
            </bean>
        </property>
    </bean>
    <!-- ========================= SCHEDULED JOBS ========================= -->
    <bean id="scheduledIntegratorUpdateTask" class="org.springframework.scheduling.timer.ScheduledTimerTask"
          lazy-init="default"  dependency-check="default">
        <property name="timerTask">
            <bean class="org.oscarehr.PMmodule.task.IntegratorUpdateTask" lazy-init="default"
                  dependency-check="default">
                <property name="integratorManager" ref="integratorManager"/>
                <property name="programManager" ref="programManager"/>
                <property name="admissionManager" ref="admissionManager"/>
                <property name="providerManager" ref="providerManager"/>
                <property name="clientManager" ref="clientManager"/>
            </bean>
        </property>
        <property name="delay" value="60000"/>
        <property name="period" value="600000"/>
    </bean>
    <bean id="scheduledBedProgramDischargeTask" class="org.springframework.scheduling.timer.ScheduledTimerTask"
          lazy-init="default"  dependency-check="default">
        <property name="timerTask">
            <bean class="org.oscarehr.PMmodule.task.BedProgramDischargeTask" lazy-init="default"
                  dependency-check="default">
                <property name="programManager" ref="programManager"/>
                <property name="bedManager" ref="bedManager"/>
                <property name="bedDemographicManager" ref="bedDemographicManager"/>
            </bean>
        </property>
        <property name="delay" value="120000"/>
        <property name="period" value="3600000"/>
    </bean>
    <bean id="scheduledErProgramDischargeTask" class="org.springframework.scheduling.timer.ScheduledTimerTask"
          lazy-init="default"  dependency-check="default">
        <property name="timerTask">
            <bean class="org.oscarehr.PMmodule.task.ErProgramDischargeTask" lazy-init="default"
                  dependency-check="default">
                <property name="admissionManager" ref="admissionManager"/>
                <property name="providerManager" ref="providerManager"/>
            </bean>
        </property>
        <property name="delay" value="180000"/>
        <property name="period" value="300000"/>
    </bean>
    <bean id="scheduledPopulationReportTask" class="org.springframework.scheduling.timer.ScheduledTimerTask"
          lazy-init="default"  dependency-check="default">
        <property name="timerTask">
            <bean class="org.oscarehr.common.task.PopulationReportTask" lazy-init="default"
                  dependency-check="default"/>
        </property>
        <property name="delay" value="240000"/>
        <!-- run every 60 mins -->
        <property name="period" value="3600000"/>
    </bean>
    <bean id="scheduler" class="org.springframework.scheduling.timer.TimerFactoryBean" lazy-init="default"
           dependency-check="default">
        <property name="scheduledTimerTasks">
            <list>
                <ref bean="scheduledIntegratorUpdateTask"/>
                <ref bean="scheduledBedProgramDischargeTask"/>
                <ref bean="scheduledErProgramDischargeTask"/>
                <ref bean="scheduledPopulationReportTask"/>
            </list>
        </property>
    </bean>
    <bean id="QuestionTypes" class="org.oscarehr.survey.model.QuestionTypes" scope="singleton" lazy-init="default"
           dependency-check="default"/>
    <bean id="testmode" class="java.lang.String" lazy-init="default"  dependency-check="default">
        <constructor-arg value="${testmode.enabled}"/>
    </bean>
</beans>

