<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

  <!-- Action Servlet Configuration -->
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
      <!--param-value>/WEB-INF/struts-config-oscarMessenger.xml</param-value-->
    </init-param>
    <init-param>
      <param-name>application</param-name>
      <param-value>oscarResources</param-value>
      <!--param-value>oscar.oscarMessenger.oscarMessengerResources</param-value-->
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>validate</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>

  </servlet>

  
  <!-- Oscar servlets -->
  <!-- Upload an e-form -->
  <servlet>
	  <servlet-name>UploadServlet</servlet-name>
	  <servlet-class>oscar.eform.UploadServlet</servlet-class>
          <load-on-startup>0</load-on-startup>
  </servlet>
  <!-- Upload an image for e-form -->
   <servlet>
	   <servlet-name>UploadImage</servlet-name>
	   <servlet-class>oscar.eform.UploadImage</servlet-class>
	   <load-on-startup>0</load-on-startup>
   </servlet>

   <!-- oscar documents -->
   <servlet>
	   <servlet-name>UploadDocument</servlet-name>
	   <servlet-class>oscar.DocumentMgtUploadServlet</servlet-class>
	   <load-on-startup>0</load-on-startup>
   </servlet>

  <servlet>
	   <servlet-name>OscarDownload</servlet-name>
	   <servlet-class>OscarDownload</servlet-class>
	   <load-on-startup>0</load-on-startup>
   </servlet>			       
   <servlet>
	   <servlet-name>UploadTeleplanServlet</servlet-name>
	   <servlet-class>oscar.oscarBilling.MSP.DocumentTeleplanReportUploadServlet</servlet-class>
	   <load-on-startup>0</load-on-startup>
   </servlet>

   <!-- oscar Report -->
   <servlet>
            <servlet-name>ScatterPlotChartServlet</servlet-name>
            <servlet-class>oscar.oscarEncounter.oscarMeasurements.pageUtil.ScatterPlotChartServlet</servlet-class>          
    </servlet>



  <!-- Action Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>

  <!-- Upload an e-form -->
  <servlet-mapping>
	   <servlet-name>UploadServlet</servlet-name>
	   <url-pattern>/servlet/oscar.eform.UploadServlet</url-pattern>
  </servlet-mapping>

  <!-- Upload an image for e-form -->
  <servlet-mapping>
	  <servlet-name>UploadImage</servlet-name>
	  <url-pattern>/servlet/oscar.eform.UploadImage</url-pattern>
  </servlet-mapping>

  <!-- oscar documents -->
  <servlet-mapping>
	  <servlet-name>UploadDocument</servlet-name>
	  <url-pattern>/servlet/oscar.DocumentMgtUploadServlet</url-pattern>
  </servlet-mapping>

    <servlet-mapping>
	  <servlet-name>OscarDownload</servlet-name>
	  <url-pattern>/servlet/OscarDownload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	  <servlet-name>UploadTeleplanServlet</servlet-name>
	  <url-pattern>/servlet/oscar.DocumentTeleplanReportUploadServlet</url-pattern>
  </servlet-mapping>
  
  <!--oscar Report -->
    <servlet-mapping>
            <servlet-name>ScatterPlotChartServlet</servlet-name>
            <url-pattern>/servlet/oscar.oscarEncounter.oscarMeasurements.pageUtil.ScatterPlotChartServlet</url-pattern>
    </servlet-mapping>

  <!-- The Welcome File List -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>

  <!-- Struts Tag Library Descriptors -->
  <taglib>
    <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
  </taglib>
<!--  <taglib>
    <taglib-uri>http://jakarta.apache.org/taglibs/log-1.0</taglib-uri>
    <taglib-location>/WEB-INF/log.tld</taglib-location>
  </taglib>-->

</web-app>
