<div ng-controller="PatientListDemographicSetCtrl">
<form class="form-horizontal">
<select ng-model="filter.name" class="form-control" ng-change="changeMoreTab(currentmoretab.id,filter)" ng-init="filter.name=''">
	<option value="">Select a Patient Set</option>
	<option ng-repeat="s in sets" value="{{s}}">{{s}}</option> 
</select>
</form>

<a ng-repeat="patient in patients | filter:query" ng-click="goToRecord(patient)" class="list-group-item " class="default">	
	<h5 class="list-group-item-heading">{{patient.name}}</h5>
</a>
</div>

