<a ng-repeat="patient in patients | startFrom:currentPage*pageSize | limitTo:pageSize | filter:query" ui-sref="record.summary({demographicNo:patient.demographicNo})" class="list-group-item " ng-class="getAppointmentStyle(patient)" class="default">
	<!-- 
	<span ng-if="patient.status.length>0 && patient.status != 't'" class="badge">{{patient.status}}</span>
	-->
	<h4 class="list-group-item-heading">{{patient.name}}</h4>
	<h4 class="list-group-item-heading pull-right">{{patient.startTime}}</h4>
	<p class="list-group-item-text">Reason: {{patient.reason}}  </p>
</a>
		
