* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: /*"gill sans", helvetica,*/ arial, sans-serif;
	text-align: left;
	color: #5c4d46;
	font-size: 13px;
	line-height: 17px;
}

body {
	background: #bdc797;
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 620px;
	background: #fff;
	border-bottom: 1px solid #fff;
	/* strange hack to get white the whole way to bottom*/
}

#header {
	padding: 15px 40px;
	background: #fff;
}

#header #ubc {
	height: 40px;
	line-height: 40px;
	font-size: 17px;
	background: url(../img/ubcdfp.gif) 0px 0 no-repeat;
	padding-left: 72px;
	color: #127785;
}

#header #evidocs {
	margin-top: 10px;
	height: 40px;
	line-height: 40px;
	font-size: 17px;
	background: url(../img/evidocs.gif) 0 0 no-repeat;
	padding-left: 72px;
	color: #127785;
}

#nav {
	clear: both;
	font-size: 17px;
	line-height: 24px;
	background: #f7f4d7;
	text-align: center;
	padding: 15px 0;
	margin-bottom: 30px;
}

#nav span.ttl {
	font-size: 20px;
}

#nav a {
	font-size: 20px;
	color: #127785;
}

#content {
	margin: 20px 40px;
}

#content h1,h2,h3 {
	font-weight: normal;
	font-size: 20px;
	margin: 17px 0px;
	color: #127785;
}

#content h2 {
	font-size: 15px;
	padding-top: 17px;
	border-top: 1px dotted #127785;
}

#content h2.nobar {
	border: 0;
	padding-top: 0;
}

#content h3 {
	font-size: 13px;
}

#content p,#content ul {
	margin-bottom: 20px;
}

#content ul li {
	margin: 0 0 0 20px;
}

#content ol li,#content ol li b,#content ol li a {
	font-size: 11px;
}

#content a {
	color: #127785;
}

#content a:hover {
	color: #5c4d46;
}

#content sup a {
	font-size: 11px;
	padding: 0 4px;
	font-weight: bold;
}

#content table {
	width: 520px;
}

#content table td {
	padding: 5px 2px;
}

#content table td {
	vertical-align: top;
}

#content table td.label {
	text-align: right;
}

#content input.bdr {
	border: 1px solid #5c4d46;
}

#content input.btn {
	background-color: #f7f4d7;
	padding: 2px 5px;
	border: 1px solid #5c4d46;
}

#content table#FraminghamChart,#content table#UKPDSChart,#content table#key
	{
	border-collapse: collapse;
	margin: 20px 0px;
}

#content table#key {
	margin-top: 20px;
}

#content table#FraminghamChart {
	margin-bottom: 20px;
}

#content table#FraminghamChart td,#content table#UKPDSChart td {
	border: 1px solid #5c4d46;
	text-align: center;
	vertical-align: middle;
}