<Server port="8005" shutdown="SHUTDOWN">

	<!--Initialize Jasper prior to webapps are loaded. Documentation at /docs/jasper-howto.html -->
	<Listener className="org.apache.catalina.core.JasperListener" />
	<!-- JMX Support for the Tomcat server. Documentation at /docs/non-existent.html -->
	<Listener className="org.apache.catalina.mbeans.ServerLifecycleListener" />
	<Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />

	<Service name="Catalina">

		<Connector port="8080" protocol="org.apache.coyote.http11.Http11Protocol" enableLookups="false" maxThreads="8" executor="tomcatThreadPool" connectionTimeout="10000" disableUploadTimeout="true" compression="on" URIEncoding="UTF-8" />
    	<Connector port="8081" protocol="org.apache.coyote.http11.Http11Protocol" enableLookups="false" maxThreads="8" executor="tomcatThreadPool" connectionTimeout="10000" disableUploadTimeout="true" compression="on" URIEncoding="UTF-8" SSLEnabled="true" scheme="https" secure="true" clientAuth="false" sslProtocol="TLS" keystoreFile="conf/.keystore" />
               
		<Engine name="Catalina" defaultHost="localhost">
			<Host name="localhost" appBase="webapps" unpackWARs="true" autoDeploy="true" xmlValidation="false" xmlNamespaceAware="false" />
			
			<Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs" suffix=".txt" pattern="combined" resolveHosts="false" fileDateFormat="yyyy-MM" />
		</Engine>
	</Service>
</Server>
