BODY {
	FONT-SIZE: Normal;
	FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif;
}

TABLE {
	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
}

TD {
	font-size: 11pt;
}

TH {
	font-size: 11pt;
}

.clsMenu {
	color: Black;
	font-family: Tahoma, Verdana, Arial;
	font-size: 11px;
	text-decoration: none;
	text-align: center;
}

.clsMenu2 {
	font-color: Blue;
	font-family: Tahoma, Verdana, Arial;
	font-size: 11px;
	text-decoration: none;
	text-align: center;
}

.clsMenuCell {
	background-color: #F0F0F0;
	border-color: #A8A8A8;
	border-width: 1px;
	border-style: Solid;
	font-family: Tahoma, Verdana, Arial;
	cursor: default;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.clsMenuCell2 {
	background-color: #F0F0F0;
	border-color: #A8A8A8;
	border-width: 1px;
	border-style: Solid;
	font-family: Tahoma, Verdana, Arial;
	cursor: default;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.clsSearchPages,.clsSearchCells th,.clsSearchCells td {
	background-color: #E0E0E0;
	border-color: #A8A8A8;
	border-width: 1px;
	border-style: Solid;
	font-family: Tahoma, Verdana, Arial;
}

.clsSearchCells th {
	border-right: 1px solid #333;
	background-color: #ddd;
	color: #fff;
	border-left: 1px solid #fff;
}

.clsSearchCells td {
	border-right: 1px solid #333;
	background-color: #ddd;
	color: #fff;
	border-left: 1px solid #fff;
}

.clsHomePageHeader {
	font-size: 20pt;
	color: blue;
	font-weight: normal;
	font-style: italic;
	text-align: left;
	font-family: Arial Unicode MS;
}

.clsHomePageLabels {
	font-size: 12pt;
	color: blue;
	font-weight: normal;
	text-align: left;
	font-family: Arial Unicode MS;
}

.blueText {
	font-size: 9pt;
	vertical-align: top;
}

.mbttn {
	background: #D7DBF2;
	border-bottom: 1px solid #104A7B;
	border-right: 1px solid #104A7B;
	border-left: 1px solid #AFC4D5;
	border-top: 1px solid #AFC4D5;
	color: #000066;
	height: 19px;
	text-decoration: none;
	cursor: hand
}

.subject {
	background-color: #003399;
	color: #FFFFFF;
	font-size: 14pt;
	font-weight: bold;
	text-align: centre;
}

.searchTitle {
	background-color: #6699CC;
	color: #000000;
	font-weight: bold;
	text-align: left;
	height
	="20px"
}

.title {
	background-color: #6699CC;
	color: #000000;
	font-weight: bold;
	text-align: center;
	height: 20px;
}

.fieldTitle {
	background-color: #EEEEFF;
	font-weight: bold;
}

.fieldValue {
	background-color: #EEEEFF;
	text-align: left;
}

.pageTitle {
	background-image: url(../images/titleBar2.png);
	height: 25px;
	vertical-align: middle;
	FONT-SIZE: 12pt;
	font-weight: bold;
	font-family: Arial Unicode MS;
	COLOR: white;
	text-align: center;
	/*    background-color:#EDDECF;  
    border-bottom-style:groove;
    border-bottom-width:thin; 
    border-left-style: groove;
    border-left-width:thin; 
    border-right-style: groove;
    border-right-width:thin; 
    border-top-style:groove;
    border-top-width:thin; */
}

}
.buttonBar {
	background-image: url(../images/buttonBar2.png);
	height: 22px;
	vertical-align: middle;
	FONT-SIZE: 8pt;
	font-family: Arial Unicode MS;
	COLOR: black;
	border-width: 0pt;
	border-color: Silver;
	border-style: solid;
}

.buttonBar2 {
	background-image: url(../images/buttonBar2.png);
	height: 22px;
	vertical-align: middle;
	FONT-SIZE: 8pt;
	font-family: Arial Unicode MS;
	COLOR: black;
	border-width: 0pt;
	border-color: Silver;
	border-style: solid;
}

.buttonBar3 {
	background: #c0c0c0;
	FONT-SIZE: 8pt;
	font-family: Arial Unicode MS;
	COLOR: black;
	border-width: 0pt;
	border-color: Silver;
	border-style: solid;
}

.buttonBar4 {
	FONT-SIZE: 8pt;
	font-family: Arial Unicode MS;
	COLOR: black;
	border-width: 0pt;
	border-color: Silver;
	border-style: solid;
}

.error {
	color: #FF0000;
	background-color: #EEEEFF;
	text-align: left;
}

.warning {
	color: #00FFFF;
	background-color: #EEEEFF;
	text-align: left;
}

.message {
	color: #000000;
	background-color: #EEEEFF;
	text-align: left;
}

/* style for list tables */
table.list {
	border: 1px solid #ccc;
	border-collapse: collapse;
	margin-top: 10px;
	width: 100%;
}

table.list tr.even {
	background: #eee;
	border-top: 1px solid silver;
}

table.list tr.odd {
	background: white;
	border-top: 1px solid silver;
}