html,body {
	width: 100%;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
}

.intakeLayoutContainer {
	width: 95%;
	height: 100%;
	left: 0%;
	top: 0%;
	position: relative;
	overflow: auto;
}

.intakeTopPane {
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 5px;
}

.intakeChildPane {
	padding: 2.5px;
	overflow: auto;
}

.intakeBottomPane {
	padding: 5px;
}

.intakePageContainer {
	width: 100%;
	height: 100%;
}

.intakeSectionLabel {
	color: #000;
	font-weight: bold;
	background: url("images/soriaBarBg.gif") repeat-x top left #85aeec;
	border: 1px solid #84a3d1;
	font-size: 0.9em;
}

.intakeSectionContainer {
	background: #fff;
	border: 1px solid #84a3d1;
}

.intakeSection {
	overflow: auto;
}

table.intakeTable {
	width: 100%;
	font-size: 10px;
}

table.intakeTable td {
	padding: 2px;
}

table.intakeTable label {
	font-size: 12px;
	font-weight: bold;
}

.intakeBedCommunityProgramCell {
	width: 15%;
	vertical-align: top;
}

.intakeQuestionCell {
	background-color: #CCCCCC;
}

.intakeAnswerCell {
	font-style: italic;
}

.intakeEmptyCell {
	width: 5%;
}

.intakeInput {
	width: 100%;
}

.error {
	color: #FF0000;
	text-align: left;
}

.message {
	color: #000000;
	text-align: left;
}