<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">


<beans>	
	<bean id="propertyConfigurer2"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>/WEB-INF/integrator.properties</value>
			</list>
			
		</property>
		<property name="placeholderPrefix" value="$B{" />
	</bean>
	
<!-- 
	<bean id="refreshAgencyInfoBean" class="org.caisi.PMmodule.message.RefreshAgencyInfoBean"> 
		<property name="integratorMessageProcessor" ref="integratorMessageProcessor"/>
	</bean>
	
	<bean id="integratorMessageProcessor" class="org.caisi.PMmodule.integrator.IntegratorMessageProcessorImpl">
		<property name="programManager" ref="programManager"/>
		<property name="clientManager" ref="clientManager"/>
		<property name="providerManager" ref="providerManager"/>
		<property name="integratorClient" ref="integratorClient"/>
		<property name="agency_id" value="$B{caisi.agency_id}"/>
	</bean>
	
	<bean id="incomingReferralBean" class="org.caisi.PMmodule.message.IncomingReferralBean"> 
		<property name="programQueueManager" ref="programQueueManager"/>
		<property name="agency_id" value="$B{caisi.agency_id}"/>
	</bean>
	
	<bean id="outgoingReferralBean" class="org.caisi.PMmodule.message.OutgoingReferralBean"/> 
	
	<bean id="activeMQContainer" class="org.activemq.jca.JCAContainer">
    <property name="workManager">
      <bean id="workManager" class="org.activemq.work.SpringWorkManager"/> 
    </property>

    <property name="resourceAdapter">
      <bean id="activeMQResourceAdapter" 
          class="org.activemq.ra.ActiveMQResourceAdapter">
        <property name="serverUrl" value="$B{caisi.jms.url}"/>
      </bean>
    </property>
  </bean>
  
  <bean id="jmsFactory" class="org.activemq.pool.PooledConnectionFactory">
    <property name="connectionFactory">
      <bean class="org.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="$B{caisi.jms.url}"/>
      </bean>
    </property>
  </bean>
  
  <bean id="myJmsTemplate" class="org.springframework.jms.core.JmsTemplate">
    <property name="connectionFactory">
      <ref local="jmsFactory"/>
    </property>
  </bean>
  
  <bean id="RefreshAgencyInfoMDP" 
      factory-method="addConnector" 
      factory-bean="activeMQContainer">
    <property name="activationSpec">
      <bean class="org.activemq.ra.ActiveMQActivationSpec">
        <property name="destination" value="$B{caisi.jms.refresh.queue}"/>
        <property name="destinationType" value="javax.jms.Queue"/>
      </bean>
    </property>
    <property name="ref" value="refreshAgencyInfoBean" /> 
  </bean>
  
  <bean id="ReferralMDP" 
      factory-method="addConnector" 
      factory-bean="activeMQContainer">
    <property name="activationSpec">
      <bean class="org.activemq.ra.ActiveMQActivationSpec">
        <property name="destination" value="$B{caisi.jms.referral.queue}"/>
        <property name="destinationType" value="javax.jms.Queue"/>
      </bean>
    </property>
    <property name="ref" value="incomingReferralBean" /> 
  </bean>
  
	<bean id="integratorClient" class="org.caisi.PMmodule.integrator.xfire.IntegratorClientImpl">
		<property name="programUrl" value="$B{caisi.program.url}"/>
		<property name="username" value="$B{caisi.program.username}"/>
		<property name="password" value="$B{caisi.program.password}"/>
		<property name="enabled" value="$B{caisi.integrator.enabled}"/>
		<property name="agencyId" value="$B{caisi.agency_id}"/>
	</bean>
  -->
</beans>