BODY {
	FONT-SIZE: Normal;
	FONT-FAMILY: Verdana, Tahoma, Arial, sans-serif;
}

TABLE {
	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
}

TD {
	font-size: 11pt;
}

TH {
	font-size: 11pt;
}

#for tabs
.tabs th {
	background-repeat: no-repeat;
	border-right: 1px solid #333;
	background-color: #ddd;
	color: #fff;
	border-left: 1px solid #fff;
}

.tabs td {
	background-color: #999;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}

.tabs {
	border-bottom: 6px #ddd solid;
}

.tabs th,.tabs th a:link,.tabs th a:visited {
	color: #555;
}

.tabs td,.tabs td a:link,.tabs td a:visited {
	color: #fff;
}

.tabs a {
	text-decoration: none;
}

div.tabs th,div.tabs td,s,#rightcol div.help,.colbar,.tasknav,body.docs div#toc,#leftcol,.legend,.bars
	{
	font-size: xx-small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: x-small;
}

.tabs td,.tabs th,dt,.tasknav .selfref,#login .username,.selection {
	font-weight: bold;
}

.tabs {
	margin-top: 0em;
	margin-right: 2px;
	margin-left: 2px;
	padding-left: 8px;
}

.tabs td,.tabs th {
	padding: 3px 9px;
}