Source: oscar-emr
Package: oscar-emr
Version: 15-71~691
Section: base
Installed-Size: 348160
Priority: optional
Architecture: all
Pre-depends:  curl
Depends: tomcat7 | tomcat8, mysql-server (>= 5.0) | mariadb-server, libmysql-java (>= 5.0),  unzip 
Recommends: xfonts-75dpi, firefox | chromium-browser , wkhtmltopdf
Maintainer: Peter Hutten-Czapski <phc@srpc.ca>
Homepage: http://oscarmanual.org
Description: OSCAR (Web) A web application for electronic medical records
  * Patient registration 
  * Scheduling
  * Prescriptions with renal dosage adjustment
  * Chronic disease management 
  * Antenatal care record with antenatal care planner
  * Disease Registry is provided to support population health analyses
  * Supports importing digital(HL7) lab results
  * Complete electronic charting of all encounters
  * Ability to link to Oscar Kiosk for self sign in
  * Integration with MyOscar for Personal Health record
