<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mule-configuration PUBLIC "-//MuleSource //DTD mule-configuration XML V1.0//EN"
                                "http://mule.mulesource.org/dtds/mule-configuration.dtd"> 
<beans>
<bean id="MyJDBCConnectorDataSource" class="org.enhydra.jdbc.standard.StandardXADataSource">
	<property name="driverName" value="com.mysql.jdbc.Driver" />
    <property name="url" value="jdbc:mysql://localhost:3306/muletest" />
    <property name="user" value="root" />
    <property name="password" value="xpmk57Yk" />
</bean> 
</beans>
