<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration
    PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory >

		<!-- local connection properties -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/oscar_mcmaster</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.MysqlDefs</property>
		<property name="hibernate.connection.username">caisi</property>
		<property name="hibernate.connection.password">caisi</property>
		<!-- property name="hibernate.connection.pool_size"></property -->

		<!-- dialect for MySQL -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
    </session-factory>
</hibernate-configuration>