/*====================================================
	- HTML Table Filter Generator v1.9.9
	stylesheet
	- do not hesitate to edit classes below to 
	change filter grid appearance
=====================================================*/

/* FILTERS BAR
=====================================================*/
.fltrow{ /* filter grid row appearance */
	height:20px;
	background-color:#f4f4f4;
}
.btnflt{ /* button appearance */
	font-size:11px;
	margin:0 2px 0 2px; padding:0 1px 0 1px;
	text-decoration:none; color: #fff;
	background-color:#666;
	vertical-align:middle;
}
.flt{ /* filter (input) appearance */
	background-color:#fff; font-size:10px;
	border-left:1px solid #999; border-right:1px solid #ccc;
	border-top:1px solid #ccc; border-bottom:1px solid #999;
	margin:0; width:100%; vertical-align:middle;
}
select.flt{ /* select filter */
	background-color:#fff; border:1px solid #ccc; 
	margin:0 1px 1px 0; width:100%; font-size:9px; vertical-align:middle;
}
select.flt_multi{ /* multiple select filter */
	background-color:#fff; border:1px solid #ccc; 
	margin:0 1px 1px 0; width:100%; height:100px;
	font-size:9px; vertical-align:middle;
}
.flt_s{ /* small filter (input) appearance */
	background-color:#fff; font-size:10px;
	border-left:1px solid #999; border-right:1px solid #ccc;
	border-top:1px solid #ccc; border-bottom:1px solid #999;
	margin:0; width:80%; vertical-align:middle;
}
.single_flt{ /* single filter appearance (input) */
	background-color:#fff; font-size:11px;
	border-left:1px solid #999; border-right:1px solid #ccc;
	border-top:1px solid #ccc; border-bottom:1px solid #999;
	margin:0; width:120px; vertical-align:middle;
}
.fltWatermark{ /* watermark input */
	color:#999;
}
.div_checklist{ /* div containing checklist  */
	width:100%; height:100px;
	border:1px solid #ccc;
	overflow:auto; text-align:left;
	background-color:#fff;
	color:#333 !important;
}

.div_checklist ul.flt_checklist{ padding:0 !important; margin:0 !important; list-style: none !important; }
.div_checklist li.flt_checklist_item{ /*check list item*/
	padding:1px !important; margin:0 !important; font-size:10px !important;
	border-bottom:1px solid #ccc !important;
}
.div_checklist li.flt_checklist_item:hover{
	background-color:#335EA8 !important;
	color:#fff !important;
}
.flt_checklist_slc_item{ /*selected check list item*/
	background-color:#335EA8 !important;
	color:#fff !important;
}
.div_checklist label{ display:block !important; }
.div_checklist input{ vertical-align:middle !important; margin:2px 5px 2px 1px !important; }


/* PAGING ELEMENTS
=====================================================*/
.inf{ /* div containing left, middle and right divs */
	clear:both; width:auto; height:25px; 
	background:#f4f4f4; font-size:12px; 
	margin:0; padding:1px 3px 1px 3px; 
	border:1px solid #ccc; overflow:hidden;
}
.ldiv{ /* left div */
	float:left; width:30%; position:inherit; 
}
.mdiv{ /* middle div */
	float:left; width:38%; position:inherit; text-align:center;
	padding:1px 0;
}
.rdiv{ /* right div */
	float:right; width:30%; position:inherit; text-align:right; 
}
select.pgSlc{ height:20px; vertical-align:middle; font-size:10px; }/*paging drop-down list*/
input.pgNbInp{ 
	width:25px; height:16px; 
	font-size:11px; vertical-align:middle;  
	margin:1px;
}/*paging text-box*/
input.pgInp{ /*paging buttons (Next/Previous)*/
	font-size:10px; font-weight:bold; vertical-align:middle; 
	padding:1px 1px 2px 1px; background-color:#ccc; 
	border:1px outset #666; margin:1px;
}
span.nbpg{ padding:0 5px 0 0; }/*paging nb pages*/
div.inf a{ color:#333; text-decoration:none; font-weight:bold; }/*link appearence in .inf div*/
div.inf a:hover{ text-decoration:underline; }/*link appearence in .inf div*/
div.tot{ /* rows counter appearance */
	float:left; overflow:hidden;
	width:150px; height:15px;
	border-right:1px solid #ccc;
	margin:0 5px 0 2px;
	padding:0 2px 0 2px;
}
div.tot span{ font-weight:bold; font-size:11px; }
select.rspg{ width:50px; margin:1px 5px 0 5px; vertical-align:middle; }/*results per page select*/
span.rspgSpan{ font-size:11px; } /*results per page select label*/


/* BEHAVIOURS
=====================================================*/
span.keyword{ background-color: #ffcc00;}/*highlighted word*/

.even{ background-color:#fff; }/*row bg alternating color*/
.odd{ background-color:#E5E5E5; }/*row bg alternating color*/

.loader{ /* loader appearance */
	position:absolute; padding: 5px 10px 5px 10px;
	margin:20px 0 0 20px; width:auto; 
	z-index:1000; font-size:12px; font-weight:bold;
	border:1px solid #666; background:#f4f4f4; 
	vertical-align:middle;
}

div.status{ /* status bar appearance */
	float:left; overflow:hidden;
	width:150px; height:15px;
	border-right:1px solid #ccc;
	margin:0 5px 0 2px;
	padding:0 2px 0 2px;
}
div.status span{ font-weight:bold; font-size:11px; }

div.cont{ /*table container div*/
	height:200px; overflow: auto;
}
div.head{ width:auto; overflow:hidden; }

/* Help elements */
.helpBtn{ margin:0 5px 0 5px; padding: 2px 4px 2px 4px; border-left:1px solid #ccc; border-right:1px solid #ccc; } /* help button */
div.helpCont{ /* help container */
	position:absolute; display:none; 
	max-width:250px; overflow:auto;
	padding:5px 5px 5px 5px; margin:18px 0;
	border:1px solid #333; 
	background:#f4f4f4; text-align:left; 
}
div.helpCont a{ color:#cc0000; text-decoration:underline; font-weight:normal; }
div.helpCont a:hover{ text-decoration:none; }
div.helpFooter{ margin:10px 0 0 0; }

/* Pop-up filters elements */
div.popUpFilter{ 
	position:absolute; display:none;
	background:#C8E0FB; border:1px solid #e4e4e4;
	padding:1px 3px 1px 1px; 
	margin:20px auto 0 0px;
	width:100px;
}

/* Active column header */
.activeHeader{ background:#004080 !important; color:#fff; }

/* GRID LAYOUT
=====================================================*/
div.grd_Cont{ /*Main container*/
	width:800px; height:auto;
	overflow:hidden;
	padding:3px 3px 3px 3px; 
	background:#C8E0FB; 
	border:1px solid #99BBE8;
}
div.grd_tblCont{ /*Content table container*/
	height:400px; width:800px;
	background:#fff;
	overflow-x:auto;
	overflow-y:scroll;
}
div.grd_headTblCont{ /*headers' table container*/
	height:auto; width:800px; overflow:hidden;
	border-bottom:1px solid #99BBE8;
	background-color:#C8E0FB;
}
div.grd_tblCont table, div.grd_headTblCont table{ /*Tables*/
	font-size:12px; border-collapse:collapse;
	table-layout:fixed;
}
div.grd_tblCont table{ border-right:1px solid #99BBE8; }

/* Filters */
div.grd_Cont .fltrow{ background-color:transparent; } /*Filters' row*/
div.grd_Cont .flt{ border:1px solid #99BBE8; width:99%; }
div.grd_Cont .flt:focus{ border:1px solid #558DD9; }

/* Headers */
div.grd_tblCont table th, div.grd_headTblCont table th, div.grd_headTblCont table td{
	background:#C8E0FB;
	padding:2px 2px 2px 2px; color:#333;
	border-right:1px solid #99BBE8;
	overflow:hidden;
	/*white-space:nowrap;*/
	text-overflow:ellipsis;
}
div.grd_tblCont table td{
	padding:2px 2px 2px 2px; 
	border-bottom:1px solid #ccc;
	overflow:hidden;
	/*white-space:nowrap;*/
	text-overflow:ellipsis;
}

.grd_inf{ /* div containing left, middle and right divs */
	clear:both; width:auto; height:25px; 
	background:#C8E0FB; font-size:11px; 
	margin:0; padding:1px 3px 1px 3px;
	border-top:1px solid #99BBE8;
}

div.grd_Cont .even{ background-color:#fff; }/*row bg alternating color*/
div.grd_Cont .odd{ background-color:#DFE8F6; }/*row bg alternating color*/



/* WEB FX Sortable table
/* Change images paths if you don't use same folder
/* Remove safely if not used
=====================================================*/

.sort-arrow {
	width:11px;
	height:11px;
	background-position:center center;
	background-repeat:no-repeat;
	margin:0 2px;
}

.sort-arrow.descending {
	background-image:url("img/downsimple.png");

}

.sort-arrow.ascending {
	background-image:url("img/upsimple.png");
}
