/* annualStyle.css -- Style sheet used for the Annual Health Review */

BODY {
font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
font-size: 70%;
background-color: #FFFFCC;
}

TEXTAREA {
    overflow:auto;
}

.DashedBorder {
    border-width:1px;
    border-style:dashed;
    border-color:#000000;
}

.Input {
    font-size:80%;
}

.TableWithBorder {
    border-width:1px;
    border-style:solid;
    border-color:black;
}

.SystemsReview {
    width:350px;
}

.LifestyleReview {
    width:230px;
}

.ScreeningReview {
    width:300px;
}

.PhysicalSigns {
//    width:730px;
    height:300px;
    width:100%;
}

.AssessmentPlan {
    width:450px;
    height:300px;
}

.Head {
    background-color:#BBBBBB;
    padding-top:5px;
    padding-bottom:5px;
    width:940px;
    font-size:12pt;
}

.Head INPUT {
    width: 100px;
}

.Head A {
    font-size:12pt;
}