BODY
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial, Verdana, Tahoma, sans-serif;
    background-color: #EEE9E9; //#FFCC99;
}

TABLE
{
	FONT-SIZE: 10pt;
    border-color:#999999;
}

TABLE TD {
    vertical-align: top;
}

TEXTAREA {
    overflow: auto;
}

.Head {
    background-color:#BBBBBB;
    padding-top:3px;
    padding-bottom:3px;
    width:940px;
    font-size:12pt;
}

.Head INPUT {
    width: 100px;
}

.Head A {
    font-size:12pt;
}

.title {
	text-align: center;
	font-weight: bold;
	font-size: 14pt;
}

.history A {
	font-weight: bold;
}

.history TEXTAREA {
	width: 100%;
    overflow: auto;
}

.flowchart TEXTAREA {
    width: 100%;
    overflow: auto;
}

.flowchart INPUT {
    width:100%;
}