

BODY {
	font-size:80%;
    background-color:#DAEBFC;
    font-family: ARIAL, SANS-SERIF;
//    #c1ddf9;
}

TABLE {
	font-size:100%;
    border-collapse:true;
}

TEXTAREA {
    overflow: auto;
}

/**************************************/
A:link
{
    color:#486EBD;
}
.Header {
    padding-top:3px;
    padding-bottom:3px;
//    width:937px;
    width:100%;
}

.Header INPUT {
    width: 100px;
}

.column {
//    background-color:#FFF0FF;
    width:15%;
    background-color:#486EBD;
    color:#FFFFFF;
    vertical-align:top;
    text-align:center;
}

.column A {
    font-weight:bold;
}

.column TABLE {
    background-color:#486EBD;
    color:#FFFFFF;
    vertical-align:top;
    font-weight:bold;
}

.row {
    background-color:#486EBD;
    color:#FFFFFF;
    width:22.5%;
    padding-top:5px;
    padding-bottom:5px;

}

.row A {
    font-weight:bold;
}

.titleBar {
    background-color:#486ebd;
    font-size:12pt;
    color:#FFFFFF;
    text-align:center;
    padding-top:2px;
    padding-bottom:2px;
}

.wide {
    width:100%;
}

.data {
    font-size:9pt;
}